
<div class="foot">
	<div class="wrap">
		<div class="clear">
			<div class="fl foot-logo">
				<img src="__PC__images/foot-logo.png" alt="logo" />
			</div>
			<div class="fl foot-list clear">
				{:W('Wg/footer')}
			</div>
			<div class="fl foot-code">
				<dl>
					<dt><img src="__PC__images/foot-code_13.jpg" alt="" /></dt>
					<dd><p>微信关注</p></dd>
				</dl>
			</div>
		</div>
		<div class="foot-info">
			版权所有：{:C('pin_site_name')}&nbsp;&nbsp;地址：{:C('pin_address')}&nbsp;&nbsp;电话：{:C('pin_tel')}&nbsp;&nbsp;备案号：{:C('pin_site_icp')}&nbsp;&nbsp;技术支持：<a href="http://www.0791jr.com/" class="hover-blue corfff">嘉瑞科技</a>
		</div>
	</div>
</div>