<td width="18%" valign="top"><div class="left-menu">
      <h2>&gt; <a href="?m=Home&c=member&a=user">用户中心</a></h2>
      <h3>&gt; 交易信息</h3>
      <ul class="menu-list">
        <li> <a href="{:U('member/myOrder')}"> 我的订单</a> </li>
        <li> <a href="{:U('item/myShopcar')}" > 我的购物车</a> </li>
        <li> <a href="{:U('member/balance')}"> 账户余额  </a> </li>
        <li> <a href="{:U('member/integral')}"> 我的积分</a> </li>
        <li> <a href="{:U('member/coupon')}"> 优惠劵</a></li>
        <li> <a href="{:U('member/mydata')}"> 我的数据 </a> </li>
        
        </ul>
      <h3>&gt; 基本信息</h3>
      <ul class="menu-list">
      <li> <a href="{:U('member/information')}"> 个人资料</a> </li>
      <li> <a href="{:U('member/pchange')}"> 修改密码</a> </li>
      <li> <a href="{:U('member/address')}"> 收货地址</a> </li>
      </ul>
    </div></td>