<extend name="Base/common"/> 
<block name="header"></block>
<block name="body">	
	<body>
		<!--header-->
		<div class="header-wrap">
			<div class="header-inner">
				<div class="header-title">同城配送</div>
				<a href="/index.php?s=/Member/mine.html">
					<div class="header-left"><i class="fa fa-angle-left"></i></div>
				</a>
				<div class="header-right"></div>
			</div>	
		</div>
		<div class="header-space"></div>
		<!--header-->
		
		<!--content-->
		<div class="content">
			<!--商铺列表-->
			<ul class="cityservice-list">
				<li class="item"><a href="">
					<div class="item-left">
						<img src="" alt="" />
					</div>
					<div class="">
						<div class="item-info">
							<h3>幸福里时光餐吧</h3>
							<div>
								<div>起送：￥15</div>
								<div>配送：￥5</div>
							</div>
						</div>
						<div class="info-money">
							<div>
								<i>支</i>
								<span>支持金元宝支付</span>
							</div>
							<div>
								<i>倍</i>
								<span>赠送50倍银币</span>
							</div>
						</div>
					</div>
				</a></li>
			</ul>
		</div>
		<!--content-->
		
		<!--footer-->
		<!--footer-->
	
		
	</body>
</block>
<block name="footer"></block>
<block name="script"></block>
</html>
