<extend name="Base/common"/> 
<block name="header"></block>		
<block name="body">
	<body class="body-bgColor">
		<!--header-->
		<div class="header-wrap">
			<div class="header-inner">
				<div class="header-title">昵称</div>
				<div class="header-left return-prev"><i class="fa fa-angle-left"></i></div>
				<div class="header-right"></div>
			</div>	
		</div>
		<div class="header-space"></div>
		<!--header-->
		
		<!--content-->
		<div class="content">
			<form action="" name="nickname" method="post">
				<ul class="">
					<li class="enter-form-li row-box">
						<div class="enter-form-icon"></div>
						<div class="row-flex">
							<div class="enter-form-input">
								<input type="text" name="nickname" value="{$member['nickname']}" placeholder="请输入昵称！">
							</div>
						</div>
					</li>
				</ul>
				
				<div class="enter-form-btn"><a href="javascript:;">
					<button type="submit">确定</button>
				</a></div>
			</form>
		</div>
		<!--content-->
		
		<!--footer-->
		<!--footer-->
	</body>
</block>	
<block name="footer"></block>
<block name="script">
<script>
	$('form').submit(function(){
		//不能为空string.length == 0
		var nickname = $('input[name="nickname"]').val();
		if(!nickname || nickname.length==0){
			layer.msg('请输入昵称！',{icon:0,time:1000})
			return false;
		}
//		var data = new FormData('form[name="nickname"]');//序列化
//		data.append('is_nickname',1);
		$.post('{:U("member/set_person")}',{nickname:nickname,is_nickname:1},function(d){
			if(d.status==1){
				layer.msg(d.msg,{icon:1,time:2000},function(){
					window.location.href=d.url;
				})
			}else{
				layer.msg(d.msg,{icon:0,time:2000})
			}
		})
		return false;
		
	})
	
</script>
</block>	
</html>
