<extend name="Base/common"/>
<block name="header"></block>
<block name="body">

	<body class="body-bgColor">
		<!--header-->
		<div class="header-wrap">
			<div class="header-inner">
				<div class="header-title">我的专属二维码</div>
				<div class="header-left return-prev"><i class="fa fa-angle-left"></i></div>
				<div class="header-right"></div>
			</div>
		</div>
		<div class="header-space"></div>
		<!--header-->
		<!--content-->
		<div class="erweima-wrap">
			<div class="erweima-inner">
				<div class="erweima-content">
					<div class="erweima-img vertical-center">
						<div class="vertical-auto"><img src="{:attach($ewm,'ewm')}"></div>
					</div>
					<!--<div class="erweima-name">臻惠生活</div>-->
				</div>
				<div class="erweima-copy btn"  id="urls" data-clipboard-text="{$ewid}">复制分享</div>
			</div>
		</div>
		<!--content-->


		<!--footer-->
		<div class="y-alert-bg y-text-center y-hide">
			<div class="y-bg-white y-erweima-alert">
				<p class="font-30 y-mar-top20">分享到</p>
				<ul class="y-erweima-ul jus-bet y-border-top y-mar-top20">
					<li class="flex1" id="onMenuShareAppMessage">
						<div class="y-erweima-icon">
							<img src="__MB__images/y_icon80.png"/>
						</div>
						<p class="y-mar-top10">微信</p>
					</li>
					<li class="flex1" id="onMenuShareQQ">
						<div class="y-erweima-icon">
							<img src="__MB__images/y_icon81.png"/>
						</div>
						<p class="y-mar-top10">QQ</p>
					</li>
					<li class="flex1"  id="onMenuShareTimeline">
						<div class="y-erweima-icon">
							<img src="__MB__images/y_icon82.png"/>
						</div>
						<p class="y-mar-top10">微信朋友圈</p>
					</li>
					<li class="flex1" id="qqZone">
						<div class="y-erweima-icon">
							<img src="__MB__images/y_icon83.png"/>
						</div>
						<p class="y-mar-top10">QQ空间</p>
					</li>
				</ul>
				<p class="y-erweima-button font-30 y-bg-f5">取消</p>
			</div>
		</div>
		<!--footer-->
	</body>

</block>
<block name="footer"></block>
<block name="script">
<script type="text/javascript" src="__MB__js/clipboard.min.js"></script>
 <script  type="text/javascript">
     $(".erweima-copy").click(function(){
         $(".y-alert-bg").fadeIn(300);
         $(".y-erweima-alert").addClass("active");
     })
     $(".y-erweima-button").click(function(){
         $(".y-alert-bg").fadeOut(300);
         $(".y-erweima-alert").removeClass("active");
     })

// $(document).ready(function(){
//    var clipboard = new Clipboard('#urls');
//    clipboard.on('success', function(e) {
// //     console.log(e);
// 		layer.msg("复制成功!您的推荐码是"+'{$ewid}',{icon:1,time:2000})
//    });
//    clipboard.on('error', function(e) {
// 		layer.msg("复制失败！请手动复制",{icon:0,time:1000})
//     });
// })

</script>
	<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script>

		wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: "{$js['appId']}", // 必填，公众号的唯一标识
            timestamp: "{$js['timestamp']}", // 必填，生成签名的时间戳
            nonceStr: "{$js['nonceStr']}", // 必填，生成签名的随机串
            signature: "{$js['signature']}",// 必填，签名，见附录1
            jsApiList: [
                'checkJsApi',
				'onMenuShareTimeline',
				'onMenuShareAppMessage',
				'onMenuShareQQ',
			] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        var share_data = {
            title: '悦买宝', // 分享标题
            desc: '悦买宝!', // 分享描述
            link: "http://zhshg.0791jr.com/index.php?m=mobile&c=login&a=register&ewid={$uid}", // 分享链接
            imgUrl: "http://zhshg.0791jr.com/theme/mobile/images/ymb-logo.png", // 分享图标
            type: 'link',
            trigger: function (res) {
                // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                layer.msg('复制链接成功!');
            },
            success: function (res) {
                layer.msg('已分享!');
            },
            cancel: function (res) {
                layer.msg('分享已取消!');
            },
//           fail: function (res) {
//               alert(JSON.stringify(res));
//           }
        };


        // 2.1 监听“分享给朋友”，按钮点击、自定义分享内容及分享结果接口
        document.querySelector('#onMenuShareAppMessage').onclick = function () {
            wx.onMenuShareAppMessage(share_data);
            layer.msg('点击右上角开始推荐分享吧!');
        };

        // 2.2 监听“分享到朋友圈”按钮点击、自定义分享内容及分享结果接口
        document.querySelector('#onMenuShareTimeline').onclick = function () {
            wx.onMenuShareTimeline(share_data);
            layer.msg('点击右上角开始推荐分享吧!');
        };

        // 2.3 监听“分享到QQ”按钮点击、自定义分享内容及分享结果接口
        document.querySelector('#onMenuShareQQ').onclick = function () {
            wx.onMenuShareQQ(share_data);
            layer.msg('点击右上角开始推荐分享吧!');
        };


		//分享给qq空间
        document.querySelector('#qqZone').onclick = function () {
            qqZone();
        };

        function qqZone(){
            var _url = "http://zhshg.0791jr.com/index.php?m=mobile&c=login&a=register&ewid={$uid}";// 分享链接
            var _showcount = 0;
            var _desc = "悦买宝，越买越赚钱";
            var _summary = "";
            var _title = "悦买宝";
            var _site = "";
            var _width = "600px";
            var _height = "800px";
            var _summary = "";
            var _shareUrl = 'http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?';
            var _pic= "http://zhshg.0791jr.com/theme/mobile/images/ymb-logo.png"; // 分享图标
            _shareUrl += 'url=' + encodeURIComponent(_url||document.location);   //参数url设置分享的内容链接|默认当前页location
            _shareUrl += '&showcount=' + _showcount||0;      //参数showcount是否显示分享总数,显示：'1'，不显示：'0'，默认不显示
            _shareUrl += '&desc=' + encodeURIComponent(_desc||'分享的描述');    //参数desc设置分享的描述，可选参数
            //_shareUrl += '&summary=' + encodeURIComponent(_summary||'分享摘要');    //参数summary设置分享摘要，可选参数
            _shareUrl += '&title=' + encodeURIComponent(_title||document.title);    //参数title设置分享标题，可选参数
            //_shareUrl += '&site=' + encodeURIComponent(_site||'');   //参数site设置分享来源，可选参数
            _shareUrl += '&pics=' + encodeURIComponent(_pic||'');   //参数pics设置分享图片的路径，多张图片以＂|＂隔开，可选参数
            window.open(_shareUrl,'width='+_width+',height='+_height+',top='+(screen.height-_height)/2+',left='+(screen.width-_width)/2+',toolbar=no,menubar=no,scrollbars=no,resizable=1,location=no,status=0');
        }

	</script>

</block>
</html>
