<extend name="Base/common"/> 
<block name="header"></block>
<block name="body">	
	<body class="body-bgColor">
		<!--header-->
		<div class="header-wrap">
			<div class="header-inner">
				<div class="header-title">我的金元宝</div>
				<div class="header-left return-prev"><i class="fa fa-angle-left"></i></div>
				<div class="header-right"></div>
			</div>	
		</div>
		<div class="header-space"></div>
		<!--header-->
		
		<!--content-->
		<div class="content">
			<div class="outstanding-box vertical-center">
				<div class="vertical-auto" style="width: 100%;">
					<div class="outstanding-title">我的金元宝</div>
					<div class="outstanding-money">￥1200.00</div>
				</div>
			</div>
			<div class="outstanding-wrap">
				<a class="outstanding-link active" href="shaped_pay.html">元宝支付</a>
				<a class="outstanding-link" href="sealing_pay.html">元宝购买</a>
				<a class="outstanding-link" href="transform.html">元宝转余额</a>
			</div>
			
			<div class="notecase-tis">金元宝明细</div>
			<ul class="notecase-ul">
				<li class="notecase-li">
					<div class="notecase-left">
						<div class="notecase-type">购买</div>
						<div class="notecase-date">2017-10-10</div>
					</div>
					<div class="notecase-right">+500</div>
					<div class="clear-float"></div>
				</li>
				
				<li class="notecase-li">
					<div class="notecase-left">
						<div class="notecase-type">消费</div>
						<div class="notecase-date">2017-10-10</div>
					</div>
					<div class="notecase-right active">-500</div>
					<div class="clear-float"></div>
				</li>
				
				<li class="notecase-li">
					<div class="notecase-left">
						<div class="notecase-type">消费</div>
						<div class="notecase-date">2017-10-10</div>
					</div>
					<div class="notecase-right active">-500</div>
					<div class="clear-float"></div>
				</li>
				
				<li class="notecase-li">
					<div class="notecase-left">
						<div class="notecase-type">消费</div>
						<div class="notecase-date">2017-10-10</div>
					</div>
					<div class="notecase-right active">-500</div>
					<div class="clear-float"></div>
				</li>
			</ul>
			<div class="more-text">查看更多></div>
		</div>
		<!--content-->
		
		<!--footer-->
		<!--footer-->

	</body>
</block>
	<block name="footer"></block>
<block name="script"></block>
</html>
