<extend name="Base/common"/> 
<block name="header"></block>		
<block name="body">
	<body class="body-bgColor">
		<!--header-->
		<div class="header-wrap">
			<div class="header-inner">
				<div class="header-title">金果交易</div>
				<a href="/index.php?s=/member/wallet.html">
					<div class="header-left "><i class="fa fa-angle-left"></i></div>
				</a>
				<div class="header-right">
					<a class="particulars" href="{:U('member/w_particulars')}">交易明细</a>
				</div>
			</div>	
		</div>
		<div class="header-space"></div>
		<!--header-->
		
		<!--content-->
		<div class="content">
			<form action="" method="post" name="">
				<ul class="add-bank-ul">
					<li class="add-bank-li">
						<div class="merchant-form row-box" style="margin-top: 0;">
							<div class="merchant-currency">金果交易数量：</div>
							<div class="row-flex">
								<div class="merchant-form-input vertical-center">
									<div class="vertical-auto" style="width: 100%;"><input id="nums" min="1" type="number" placeholder="请输入金果数量"></div>
								</div>
							</div>
						</div>
					</li>
					
					<li class="add-bank-li">
						<div class="merchant-form row-box" style="margin-top: 0;">
							<div class="merchant-currency">金果交易账户：</div>
							<div class="row-flex">
								<div class="merchant-form-input vertical-center">
									<div class="vertical-auto" style="width: 100%;"><input id="mobile" type="number" placeholder="请输入对方手机号"></div>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<div class="illustrate">金果将实时转入到对方账户，无法退回，单次交易扣除<?php echo(C('pin_jg_sxf')*100) ?>%手续费</div>
				<div class="submit-button"><a href="golden.html" id="rh">下一步</a></div>
			</form>
		</div>
		<!--content-->
		
		<!--footer-->
		<!--footer-->
	</body>
</block>	
<block name="footer"></block>
<block name="script">
<script>
	$("#rh").click(function(){
		var nums = $("#nums").val();
		var mobile = $("#mobile").val();
		var reg = /1[3|4|5|7|8][0-9]{9}/;//手机格式
		var aa = /^[0-9]*$/;//为整数
		if(!nums | (nums.substr(0,1) == ".") ){
			layer.msg('请填写金果数量！',{icon:0,time:1000})
			return false;
		}
		
		if(parseInt(nums) < 0 | parseFloat(nums) == 0){
			layer.msg('请合理填写金果数量！',{icon:0,time:1000})
			return false;
		}
		if(!aa.test($("#nums").val())){
			layer.msg('金果数量为整数！',{icon:0,time:1000})
			return false;
		}
		
		if(!$('#mobile').val()){
			layer.msg('请填写手机号码！',{icon:0,time:2000})
			return false;
		}
		var reg = /1[3|4|5|7|8][0-9]{9}/;//手机格式
		if(!reg.test($('#mobile').val())){
			layer.msg('手机号码格式不正确！',{icon:0,time:2000})
			return false;
		}
		
		$.post('{:U("member/w_golden_transfer")}',{nums:nums,mobile:mobile},function(d){
		 	if(d.status ==1){
		 		layer.msg(d.msg,{icon:1,time:2000},function(){
		 			window.location.href = d.url;
		 		});
		 	}
		 	else{
		 		layer.msg(d.msg,{icon:0,time:2000})
		 	}
		 
		 },'JSON')
	 })	
</script>
</block>	
</html>
