<extend name="Base/common"/> 
<block name="header"></block>
<block name="body">	
	<body class="body-bgColor">
		<!--header-->
		<div class="header-wrap">
			<div class="header-inner">
				<div class="header-title">收支明细</div>
				<a href="/index.php?s=/member/wallet.html">
					<div class="header-left "><i class="fa fa-angle-left"></i></div>
				</a>
			</div>	
		</div>
		<div class="header-space"></div>
		<!--header-->
		
		<!--content-->
		<div class="content">
			<div class="particulars-wrap">
				<div class="particulars-title">
					<div class="particulars-txt">时间</div>
					<div class="particulars-txt">余额变化</div>
					<div class="particulars-txt">备注</div>
					<div class="clear-float"></div>
				</div>
				
				<ul class="particulars-ul"><!--支出添加red，收入添加green-->
					<volist name="ye" id="y">
						<li class="particulars-li">	
							<div class="particulars-txt">{:date('Y-m-d',$y['add_time'])}</div>
							<if condition="$y['type'] == 1">
								<div class="particulars-txt red">-{$y.totalprices}</div>
							<else />
								<div class="particulars-txt green">+{$y.totalprices}</div>
							</if>
							<div class="particulars-txt">{$y.memos}</div>
							<div class="clear-float"></div>	
						</li>
					</volist>	
				</ul>
				
				<div class="more-text">查看更多></div>
			</div>
		</div>
		<!--content-->
		
		<!--footer-->
		<!--footer-->
	</body>
</block>	
<block name="footer"></block>
<block name="script">
<script>
	</script>	
	
	
</block>	
</html>
