<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <script src="__MB__js/fontSize.js"></script>
    <link rel="stylesheet" href="__MB__css/index.css" />
    <script src="__MB__js/jquery-1.11.2.min.js"></script>
    <script src="__MB__js/custom.js"></script>
    <script src="__MB__js/layer/layer.js"></script>
    <script src="__MB__js/layui/layui.js"></script>
    <link rel="stylesheet" href="__MB__js/layui/css/layui.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body, html{width: 100%;height: 100%;margin:0;font-family:"微软雅黑";font-size:14px;}
        #l-map{height:300px;width:100%;}
        #r-result{width:100%;}
    </style>
    <title>关键字输入提示词条</title>
    <!--header-->
    <div class="header-wrap">
        <div class="header-inner">
            <div class="header-title">申请成为商家</div>
            <div class="header-left return-prev"><i class="fa fa-angle-left"></i></div>
            <div class="header-right"></div>
        </div>
    </div>
    <div class="header-space"></div>
    <!--header-->
</head>
<body class="body-bgColor">

<form>
    <div class="content">
        <div class="tobeshop-title">基本资料</div>
        <ul class="add-shop-ul y-width94 y-addshop-ul">
            <li class="add-shop-li row-box">
                <div class="add-shop-name"><span class="y-addshop-msg y-color-red">*</span>商铺名称</div>
                <div class="row-flex">
                    <div class="enter-form-input vertical-center">
                        <div class="vertical-auto w100" ><input name="title" value="{$info.title}" type="text" placeholder="请输入商铺名称" class="tr" maxlength="10"></div>
                    </div>
                </div>
            </li>
            <li class="add-shop-li row-box flex y-addshop-class">
                <div class="add-shop-name"><span class="y-addshop-msg y-color-red">*</span>行业分类</div>
                <div class="row-flex ali-cen jus-end">
                    <span>{$info.cate_name}</span><input type="hidden" name="cate_id" value="{$info.cate_id}"/>
                    <div class="function-list-arrows"><i class="fa fa-angle-right"></i></div>
                </div>
            </li>
            <!--<li class="add-shop-li row-box flex y-addshop-class">-->
            <!--<div class="add-shop-name"><span class="y-addshop-msg y-color-red">*</span>行业分类</div>-->
            <!--<div class="row-flex ali-cen jus-end">-->
            <!--<div class="function-list-arrows">-->
            <!--<select class="J_cate_select mr10" data-pid="0" data-uri="{:U('ajax_getchilds')}" data-selected="{$spid}"></select>-->
            <!--<input type="hidden" name="pid" id="J_cate_id" value="0" />-->
            <!--</div>-->
            <!--</div>-->
            <!--</li>-->

            <li class="add-shop-li row-box">
                <div class="add-shop-name"><span class="y-addshop-msg y-color-red">*</span>推荐人号码</div>
                <div class="row-flex">
                    <div class="enter-form-input vertical-center">
                        <div class="vertical-auto w100" ><input type="number" name="tuijian" value="{$info.tuijian}" placeholder="请输入推荐人号码" class="tr tel" maxlength="11"></div>
                    </div>
                </div>
            </li>
            <li class="add-shop-li row-box">
                <div class="add-shop-name"><span class="y-addshop-msg y-color-red">*</span>店铺电话</div>
                <div class="row-flex">
                    <div class="enter-form-input vertical-center">
                        <div class="vertical-auto w100" ><input type="number" name="tel" value="{$info.tel}" placeholder="请输入店铺电话" class="tr tel" maxlength="11"></div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="tobeshop-title">资质信息</div>
        <div class="add-shop-message y-add-shop-message">
            <div class="message-title y-color-333"><span class="y-addshop-msg y-color-red">*</span>请上传营业执照
                <span class="y-color-red font-20">(为保证顺利开通店铺，请上传清晰营业执照)</span></div>
            <div class="discuss-wrap">
                <div class="evaluate-wrap-box" id="img_box2">
                    <div class="evaluate-img-tier">
                        <div class="add-img-icon y-add-img-icon"   id="add_img2"><i class="fa fa-camera"></i></div><!--上传图片按钮-->
                    </div>
                    <!--<div class="flex y-addshop-addimg flex-warp">-->
                    <!--<div class="message-btn uploadimg">-->
                    <!--<img src="" alt="" />-->
                    <!--<input type="file" class="file" accept="image/*" multiple="multiple"/>--><!--上传图片按钮-->
                    <!--</div>-->
                    <!--</div>-->

                    <div class="evaluate-img-tier close-event vertical-center">
                        <div class="vertical-auto"><img src="{:attach($info['yy_img'],'merchant_yyimg')}" id="img_2"><input name="img_2[]" value="{$info['yy_img']}"></div>
                        <div class="close-evaluate"><i class="fa fa-close"></i></div>
                    </div>
                    <!--<div class="clear-float"></div>-->
                </div>
            </div>

            <div class="message-title y-border-top y-mar-top20 y-color-333"><span class="y-addshop-msg y-color-red">*</span>请上传店铺图片
                <span class="y-color-red font-20">(最多可设置8张附图)</span></div>
            <div class="discuss-wrap">
                <div class="evaluate-wrap-box" id="img_box1">
                    <div class="evaluate-img-tier">
                        <div class="add-img-icon y-add-img-icon"   id="add_img1"><i class="fa fa-camera"></i></div>
                    </div>
                    <volist name="info['imgs']" id="val">
                        <div class="evaluate-img-tier close-event vertical-center append-img2">
                            <div class="vertical-auto"><img  src="{:attach($val['img'],'merchant_img')}" >
                                <input type="hidden" name="img_1[]"  value="{$val['img']}"></div>
                            <div class="close-evaluate"><i class="fa fa-close"></i></div>
                        </div>
                    </volist>
                </div>
                <!--<div class="clear-float"></div>-->
            </div>
        </div>
    </div>

    <div class="tobeshop-title">地址信息</div>
    <ul class="add-shop-ul">
        <li class="add-shop-li row-box">
            <div class="add-shop-name"><span class="y-addshop-msg y-color-red">*</span>省市区</div>
            <div class="row-flex">
                <div class="enter-form-input">
                    <div class="vertical-auto" style="width: 100%;">
                        <input class="form-input-celect" name="region" value="{$info['region']}" type="text"  placeholder="请在地图选点！"  readonly="readonly">
                    </div>
                </div>
            </div>
        </li>
        <li class="add-shop-li row-box">
            <div class="add-shop-name"><span class="y-addshop-msg y-color-red">*</span>详细地址</div>
            <div class="row-flex">
                <div class="enter-form-input">
                    <div class="vertical-auto" style="width: 100%;">
                        <input class="form-input-celect" name="address" value="{$info['address']}" id="" type="text"  placeholder="请在地图选点！"  readonly="readonly">
                    </div>
                </div>
            </div>

        </li>

    </ul>
    <!--地图-->
    <div id="l-map">
    </div>
    <!--地图-->
    </div>

</form>


<!--选择分类页面-->
<div class="y-select-classify y-bg-white y-hide">
    <div class="header-wrap">
        <div class="header-inner">
            <div class="header-title">行业分类</div>
            <div class="header-left y-left-icon"><i class="fa fa-angle-left"></i></div>
        </div>
    </div>
    <div class="header-space"></div>

    <div class="industry-con flex">
        <ul class="industry-left">
            <volist name="cate" id="val">
                <li class="flex ali-cen y-bg-white <if condition='$i eq 1'>y-color-red</if>">
                    <div class="flex1"><span>{$val.name}</span></div>
                    <div class="function-list-arrows"><i class="fa fa-angle-right"></i></div>
                </li>
            </volist>
        </ul>
        <div class="flex1">
            <volist name="cate" id="val">
                <ul class="industry-right <if condition='$i eq 1'>y-block</if>">
                    <volist name="cate_next" id="vv">
                        <if condition="$val['id'] eq $vv['pid']">
                            <li class="flex ali-cen" data-id="{$vv['id']}">
                                <div class="flex1"><span>{$vv.name}</span></div>
                                <div class="function-list-arrows"><i class="fa fa-angle-right"></i></div>
                            </li>
                        </if>
                    </volist>
                </ul>
            </volist>
        </div>
    </div>
</div>
<!--选择分类-->


</body>
</html>
<!--百度地图API功能-->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>
<!--微信多图上传-->
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
    //显隐藏选择分类页面
    $(".y-left-icon").click(function(){
        $(".y-select-classify").hide();
        $(".content").show();
    })
    $(".industry-right li").click(function(){
        $(".y-select-classify").hide();
        //行业分类
        $('.row-flex.ali-cen.jus-end').find('span').html($(this).find('span').html());
        $('input[name="cate_id"]').val($(this).data('id'));
        $(".content").show();
    })
    $(".y-addshop-class").click(function(){
        $(".y-select-classify").show();
        $(".content").hide();
    })
    //分类选择联动
    $(".industry-left li").click(function(){
        $(this).addClass("y-bg-white y-color-red").siblings().removeClass("y-bg-white y-color-red")
        $(".industry-right").eq($(this).index()).show().siblings().hide();
    })

    //表单提交********************************************
    $('#sub').click(function(){
        if(!$('input[name="title"]').val()){
            layer.msg($('input[name="title"]').attr('placeholder'),{icon:0,time:1000})
            return false;
        }
        if(!$('input[name="region"]').val()){
            layer.msg($('input[name="region"]').attr('placeholder'),{icon:0,time:1000})
            return false;
        }

        //店铺多图数量验证
        if($('.append-img2').length > 8){
            layer.msg('最多可设置8张图',{icon:0,time:1000})
            return false;
        }

        var data = $('form').serialize();
        //开始后台验证
        $.post('{:U("merchant_update")}',data,function(d){
            if(d.status==1){
                layer.msg(d.msg, {icon:1,time: 1000},function(){
                    window.location.href=d.url;
                });
            }else{
                layer.msg(d.msg,{icon:0,time:1000})
            }
        },"JSON")
        return false;
    })
</script>

<script>

    // 百度地图API功能*****************************************
    function G(id) {
        return document.getElementById(id);
    }

    var map = new BMap.Map("l-map");
    map.centerAndZoom("南昌",10);                   // 初始化地图,设置城市和地图级别。
    map.enableScrollWheelZoom();   //启用滚轮放大缩小，默认禁用
    map.enableContinuousZoom();    //启用地图惯性拖拽，默认禁用

    // 定义一个控件类,即function
    function ZoomControl() {
        this.defaultAnchor = BMAP_ANCHOR_TOP_LEFT;
        this.defaultOffset = new BMap.Size(10, 10);
    }

    // 通过JavaScript的prototype属性继承于BMap.Control
    ZoomControl.prototype = new BMap.Control();

    // 自定义控件必须实现自己的initialize方法,并且将控件的DOM元素返回
    // 在本方法中创建个div元素作为控件的容器,并将其添加到地图容器中
    ZoomControl.prototype.initialize = function(map){
        // 创建一个DOM元素
        var div = document.createElement("div");
        div.innerHTML = '<div id="r-result">搜索地址:' +
            '<input type="text" id="suggestId" size="20" value="百度" style="width:150px;" /></div>' +
            '<div id="searchResultPanel" style="border:1px solid#C0C0C0;width:150px;height:auto; display:none;"></div>';
        // 添加DOM元素到地图中
        map.getContainer().appendChild(div);
        // 将DOM元素返回
        return div;
    }

    // 创建控件
    var myZoomCtrl = new ZoomControl();
    // 添加到地图当中
    map.addControl(myZoomCtrl);


    var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
        {"input" : "suggestId","location" : map });

    ac.addEventListener("onhighlight", function(e) {  //鼠标放在下拉列表上的事件
        var str = "";
        var _value = e.fromitem.value;
        var value = "";
        if (e.fromitem.index > -1) {
            value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        }
        str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

        value = "";
        if (e.toitem.index > -1) {
            _value = e.toitem.value;
            value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        }
        str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
        G("searchResultPanel").innerHTML = str;
    });

    var myValue;
    ac.addEventListener("onconfirm", function(e) {    //鼠标点击下拉列表后的事件
        var _value = e.item.value;
        myValue = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        G("searchResultPanel").innerHTML ="onconfirm<br />index = " + e.item.index + "<br />myValue = " +
            myValue;

        setPlace();
    });


    //搜索地图********
    function setPlace(){
        map.clearOverlays();    //清除地图上所有覆盖物
        function myFun(){
            var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果(含纬度)*****
            var myGeo = new BMap.Geocoder();//获取省市区******
            myGeo.getLocation(pp, function (rs) {
                var addComp = rs.addressComponents;
            });

            map.centerAndZoom(pp, 14);
            map.addOverlay(new BMap.Marker(pp));    //添加标注
        }
        var local = new BMap.LocalSearch(map, { //智能搜索
            onSearchComplete: myFun
        });
        local.search(myValue);
    }

    //点击地图*********
    map.addEventListener("click", function (e) {
        // document.getElementById("txtlatitude").value = e.point.lat;
        // document.getElementById("txtLongitude").value = e.point.lng;
        map.clearOverlays();
        var pointMarker = new BMap.Point(e.point.lng, e.point.lat); // 创建标注的坐标
        addMarker(pointMarker);
        geocodeSearch(pointMarker);
    });
    function addMarker(point) {
        var myIcon = new BMap.Icon("http://map.baidu.com/image/us_mk_icon.png", new BMap.Size(21, 25),
            { offset: new BMap.Size(21, 21),
                imageOffset: new BMap.Size(0, -21)
            });
        var marker = new BMap.Marker(point, { icon: myIcon });
        map.addOverlay(marker);
    }
    function geocodeSearch(pt) {
        console.log(pt);//获取经纬度********
        var myGeo = new BMap.Geocoder();
        myGeo.getLocation(pt, function (rs) {
            var addComp = rs.addressComponents;
            console.log(rs);//获取省市区**********
        });
    }
</script>
<script>
    //微信上传图片****************************************
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: "{$js['appId']}", // 必填，公众号的唯一标识
        timestamp: "{$js['timestamp']}", // 必填，生成签名的时间戳
        nonceStr: "{$js['nonceStr']}", // 必填，生成签名的随机串
        signature: "{$js['signature']}",// 必填，签名，见附录1
        jsApiList: [ 'chooseImage','previewImage','uploadImage','downloadImage','getLocalImgData'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    //店铺多图(做个删除按钮)
    $("#add_img1").click(function(){
        if($('.append-img2').length > 7){
            layer.msg('最多可设置8张图',{icon:0,time:1000});//上传前数量验证
            return false;
        }

        wx.chooseImage({
            count: 8, // 默认9
            sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
            sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
            success: function (res) {
                var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                uploadImage(localIds,1);
            }
        });
    })
    //营业执照
    $("#add_img2").click(function(){
        wx.chooseImage({
            count: 1, // 默认9
            sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
            sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
            success: function (res) {
                var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                uploadImage(localIds,2);
            }
        });
    })

    //上传图片
    function uploadImage(localIds,nums)
    {
        var localId = localIds.pop()
        wx.uploadImage({
            localId: localId, // 需要上传的图片的本地ID，由chooseImage接口获得
            isShowProgressTips: 1, // 默认为1，显示进度提示
            success: function (res) {
                var serverId = res.serverId; // 返回图片的服务器端ID
//			    	location.href = "/index.php?m=Mobile&c=Merchant&a=uploadImage&media_id="+serverId;
                download(serverId,nums);//nums2营业执照1店铺多图

//
                if (localIds.length > 0) {
                    uploadImage(localIds,nums)
                }
            }
        });
    }

    //临时文件预览
    function download(serverId,nums) {
        $.post("/index.php?m=Mobile&c=Merchant&a=uploadImage", {'media_id': serverId,'nums':nums}, function (data) {
            var type=(nums==1)?'merchant_img/':'merchant_yyimg/';//nums1店铺多图2营业执照
            if (data.status == 1&&nums==1) {
                $("#img_box"+nums).append(''
                    +'<div class="evaluate-img-tier close-event vertical-center append-img2">'
                    +'<div class="vertical-auto"><img  src="'+'data/attachment/'+type+data.name+'" ><input type="hidden" name="img_'+nums+'[]"  value="'+data.name+'"></div>'
                    +'<div class="close-evaluate"><i class="fa fa-close"></i></div></div>'
                );

            }else if(data.status == 1&&nums==2){
                $('.evaluate-img-tier.close-event.vertical-center').show();
                $("#img_2").attr('src','data/attachment/'+type+data.name);
                $("#img_2").siblings("input").val(data.name);

            }else{
                layer.msg(data.msg);
            }
        }, 'json');
    }

</script>
