
<div class="dialog_content">
    <form id="info_form" name="info_form" action="{:u('trader/add')}" method="post">
    <table width="100%" class="table_form">
        <tr>
            <th width="80">对方账户 :</th>
            <td><input type="text" name="username" id="username" class="input-text"></td>
        </tr>
        <tr>
            <th width="80">金额 :</th>
            <td><input type="text" name="mobile" id="mobile" class="input-text"></td>
        </tr>
         <tr>
            <th width="80">登录密码 :</th>
            <td><input type="text" name="mobile" id="mobile" class="input-text"></td>
        </tr>
     
    </table>
    </form>
</div>

<script>
    $(function(){

        $('#info_form').ajaxForm({success:complate,dataType:'json'});
        function complate(result){
            if(result.status == 1){
                $.dialog.get(result.dialog).close();
                $.pinphp.tip({content:result.msg});
                window.location.reload();
            } else {
                $.pinphp.tip({content:result.msg, icon:'alert'});
            }
        }
    });
</script>
