<!--编辑角色-->
<div class="dialog_content">
	<form id="info_form" name="info_form" action="{:u('outline_deal/edit')}" method="post">
    <table width="100%" class="table_form">
         <tr>
            <th width="80">对方账户 :</th>
            <td><input type="text" name="mobile" id="mobile" class="input-text"></td>
        </tr>
        <tr>
            <th width="80">金额 :</th>
            <td><input type="text" name="price" id="price" class="input-text"></td>
        </tr>
         <tr>
            <th width="80">登录密码 :</th>
            <td><input type="text" name="password" id="password" class="input-text"></td>
        </tr>
     
    </table>
    <input type="" name="id" id="id" value="{$info.id}" />
    <input type="" name="status" id="status" value="1" />
    </form>
</div>
<script src="__PUBLIC_ADMIN__js/fileuploader.js"></script>
<script>
$(function(){
    $.formValidator.initConfig({formid:"info_form",autotip:true});
    $("#name").formValidator({ onshow:lang.please_input+lang.role_name, onfocus:lang.please_input+lang.role_name, oncorrect:lang.input_right}).inputValidator({ min:1, onerror:lang.please_input+lang.role_name}).defaultPassed();

    $('#info_form').ajaxForm({success:complate,dataType:'json'});
    function complate(result){
        if(result.status == 1){
            $.dialog.get(result.dialog).close();
            $.pinphp.tip({content:result.msg});
            window.location.reload();
        } else {
            $.pinphp.tip({content:result.msg, icon:'alert'});
        }
    }
})
</script>