<include file="Public:header" />
<!--会员列表-->
<div class="pad_10" >
	<div class="off_on_box">
		<h3 class="title fb">微信支付收款设置</h3>
		<p class="font">还没开通微信支付？<a href="" class="hover-blue"><strong>立即免费申请开通微信支付接口</strong></a></p>
		<div class="off_on_btn">
			<span class="tip">已关闭</span>
			<i class="dot"></i>
		</div>
	</div>
	<div class="off_on_con hidden">
		<table>
			<tbody>
				<tr>
					<td align="right">AppId：</td>
					<td>
						<input type="text"  placeholder="请填写AppId" size="60">
						<p class="tip">微信公众号身份的唯一标识</p>
					</td>
				</tr>
				<tr>
					<td align="right">AppSecret：</td>
					<td>
						<input type="text"  placeholder="请填写AppSecret" size="60">
						<p class="tip">审核后在公众平台开启开发模式后可查看</p>
					</td>
				</tr>
				<tr>
					<td align="right">MCH_ID：</td>
					<td>
						<input type="text"  placeholder="请填写MCH_ID" size="60">
						<p class="tip">微信支付商户号，审核通过后，在微信发送的邮件中查看。</p>
					</td>
				</tr>
				<tr>
					<td align="right">Key：</td>
					<td>
						<input type="text"  placeholder="请填写Key" size="60">
						<p class="tip">商户支付密钥Key。请登录<a href="" class="hover-blue"><strong>微信支付商户平台</strong></a> ，在【账户设置-安全设置-API安全】中设置。</p>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="button" class="btn w150" value="保存">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<include file="Public:footer" />

</body>

</html>
<script>  
$(function(){
	//按钮开关
	$('.off_on_btn').offOn();
})
</script>