<include file="Public:header" />

<div class="pad_lr_10" >
    <form name="searchform" method="get" >
    <table width="100%" cellspacing="0" class="search_form">
        <tbody>
        <tr>
            <td>
            <div class="explain_col">
                <input type="hidden" name="m" value="admin" />
                <input type="hidden" name="c" value="finance" />
                <input type="hidden" name="a" value="index" />
                <input type="hidden" name="menuid" value="{$menuid}" />
                {:L('publish_time')}：
                <input type="text" name="time_start" id="time_start" class="date" size="12" value="{$search.time_start}">
                -
                <input type="text" name="time_end" id="time_end" class="date" size="12" value="{$search.time_end}">
                &nbsp;&nbsp;类型:
                <select name="log_type">
                <option value="">-{:L('all')}-</option>
                    <volist name="finance_log_type" id="val">
                    <option value="{$key}" <if condition="$search.log_type eq $key">selected="selected"</if>>{$val}</option>
                    </volist>
                </select>
                &nbsp;&nbsp;{:L('keyword')} :
                <input name="keyword" type="text" class="input-text" size="25" value="{$search.keyword}" />
                <input type="submit" name="search" class="btn" value="{:L('search')}" />
            </div>
            </td>
        </tr>
        </tbody>
    </table>
    </form>

    <div class="J_tablelist table_list" data-acturi="{:U('finance/ajax_edit')}">
    <table width="100%" cellspacing="0">
        <thead>
            <tr>
                <th width=25><input type="checkbox" id="checkall_t" class="J_checkall"></th>
                <th><span data-tdtype="order_by" data-field="id">ID</span></th>
                <th align="center"><span data-tdtype="order_by" data-field="order_id">订单号</span></th>
                <th><span data-tdtype="order_by" data-field="member_id">会员</span></th>
                <th><span data-tdtype="order_by" data-field="total">金额</span></th>
                <th><span data-tdtype="order_by" data-field="ip">IP</span></th>
                <th><span data-tdtype="order_by" data-field="ip">类型</span></th>
                <th><span data-tdtype="order_by" data-field="item_id">类型id</span></th>
				<th width=150><span data-tdtype="order_by" data-field="create_time">{:L('publish_time')}</span></th>
                <th width=150><span data-tdtype="order_by" data-field="ip">更新时间</span></th>
                <th width="60"><span data-tdtype="order_by" data-field="status">{:L('status')}</span></th>
                <th>备注</th>
            </tr>
        </thead>
        <tbody>
            <volist name="list" id="val" >
            <tr>
                <td align="center"><input type="checkbox" class="J_checkitem" value="{$val.id}"></td>
                <td align="center">{$val.id}</td>
                <td align="center"><b>{$val['order_id']}</b></td>
                <td align="center"><b>{$val['nickname']}</b></td>
                <td align="center">{$val.total}</td>
                <td align="center">{$val.ip}</td>
                <td align="center">{$finance_log_type[$val['log_type']]}</td>
                <td align="center">{$val.item_id}</td>
                <td align="center">{$val.create_time|date='Y-m-d H:i:s',###}</td>
                <td align="center">{$val.update_time|date='Y-m-d H:i:s',###}</td>
                <td align="center"><img  data-id="{$val.id}" data-field="status" data-value="{$val.status}" src="__PUBLIC_ADMIN__images/toggle_<if condition="$val.status eq 0">disabled<else/>enabled</if>.gif" /></td>
                <td>{$val.remark}</td>
            </tr>
            </volist>
        </tbody>
    </table>

    <div class="btn_wrap_fixed">
        <label class="select_all"><input type="checkbox" name="checkall" class="J_checkall">{:L('select_all')}/{:L('cancel')}</label>
        <input type="button" class="btn" data-tdtype="batch_action" data-acttype="ajax" data-uri="{:U('finance/delete')}" data-name="id" data-msg="{:L('confirm_delete')}" value="{:L('delete')}" />
        <div id="pages">{$page}</div>
    </div>

    </div>
</div>
<include file="Public:footer" />
<link rel="stylesheet" type="text/css" href="__PUBLIC_ADMIN__js/calendar/calendar-blue.css"/>
<script src="__PUBLIC_ADMIN__js/calendar/calendar.js"></script>
<script>
$('.J_cate_select').cate_select({top_option:lang.all});
Calendar.setup({
    inputField : "time_start",
    ifFormat   : "%Y-%m-%d",
    showsTime  : false,
    timeFormat : "24"
});
Calendar.setup({
    inputField : "time_end",
    ifFormat   : "%Y-%m-%d",
    showsTime  : false,
    timeFormat : "24"
});
</script>
</body>
</html>
