<include file="Public:header" />
<!--角色管理-->
<div class="pad_lr_10">
    <div class="J_tablelist table_list" data-acturi="{:U('AdminRole/ajax_edit')}">
    <table width="100%" cellspacing="0">
        <thead>
            <tr>
                <th width="40"><input type="checkbox" name="checkall" class="J_checkall"></th>
                <th>ID</th>
      			<th align="left">{:L('role_name')}</th>
                <th align="left">{:L('role_desc')}</th>
                <th>{:L('sort_order')}</th>
                <th>{:L('role_status')}</th>
                <th width="150">{:L('operations_manage')}</th>
            </tr>
        </thead>
    	<tbody>
        	<volist name="list" id="val">
        	<tr>
                <td align="center"><input type="checkbox" class="J_checkitem" value="{$val.id}"></td>
                <td align="center">{$val.id}</td>
                <td>{$val.name}</td>
                <td>{$val.remark}</td>
                <td align="center">{$val.ordid}</td>
                <td align="center">
                    <img data-tdtype="toggle" data-field="status" data-id="{$val.id}" data-value="{$val.status}" src="__PUBLIC_ADMIN__images/toggle_<if condition="$val.status eq 0">disabled<else/>enabled</if>.gif" />
                </td>
                <td align="center">
                	<a href="{:U('AdminRole/auth', array('id'=>$val['id'],'menuid'=>$menuid))}">{:L('role_auth')}</a> |
                    <a href="javascript:;" class="J_showdialog" data-uri="{:U('AdminRole/edit', array('id'=>$val['id']))}" data-title="{:L('edit')} - {$val.name}"  data-id="edit" data-width="580" data-height="190">{:L('edit')}</a> |
                    <a href="javascript:;" class="J_confirmurl" data-acttype="ajax" data-uri="{:U('AdminRole/delete', array('id'=>$val['id']))}" data-msg="{:sprintf(L('confirm_delete_one'),$val['name'])}">{:L('delete')}</a>
                </td>
            </tr>
            </volist>
    	</tbody>
    </table>
    </div>
    <div class="btn_wrap_fixed">
        <label class="select_all mr10"><input type="checkbox" name="checkall" class="J_checkall">{:L('select_all')}/{:L('cancel')}</label>
        <input type="button" class="btn" data-tdtype="batch_action" data-acttype="ajax" data-uri="{:U('AdminRole/delete')}" data-name="id" data-msg="{:L('confirm_delete')}" value="{:L('delete')}" />
        <div id="pages">{$page}</div>
    </div>
</div>
<include file="Public:footer" />
</body>
</html>