<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title></title>
        <script src="js/fontSize.js"></script>
        <link rel="stylesheet" href="css/index.css" />
        <script src="js/jquery-1.11.2.min.js"></script>
        <script src="js/custom.js"></script>
    </head>

    <body class="body-bgColor">
        <!--header-->
        <div class="header-wrap">
            <div class="header-inner">
                <div class="header-title">订单详情</div>
                <div class="header-left return-prev"><i class="fa fa-angle-left"></i></div>
                <div class="header-right"></div>
            </div>
        </div>
        <div class="header-space"></div>
        <!--header-->

        <!--content-->
        <div class="content">
            <div class="y-orderDetais-top flex y-bg-white y-width94 font-28">
                <p>订单状态：</p>
                <p class="y-color-red">待收货</p>
            </div>
            <div class="y-orderDetais-address jus-ali y-bg-white y-mar-top20">
                <div class="function-list-left">
                    <div class="function-list-icon"><img src="images/location1.png"></div>
                </div>
                <div class="flex1">
                    <div class="jus-bet font-28 y-orderDetais-name">
                        <p>夏寒</p>
                        <p>15966822354</p>
                    </div>
                    <div class="font-26 y-color-999">江西省南昌市西湖区十字街会堂侧路蓝天(富含花园旁)五彩艺术活动基地</div>
                </div>
            </div>

            <div class="y-mar-top20 y-bg-white">
                <a href="y_orderDetails.html">
                    <div class="row-box goods-tier-inner y-border-none">
                        <div class="goods-img-box">
                            <div class="level-img vertical-center">
                                <div class="vertical-auto"><img src="images/img.jpg"></div>
                            </div>
                        </div>
                        <div class="flex y-order-text">
                            <div class="flavour-title ellipsis2">它和榴莲并称“夫妻果”它和榴莲并称“夫妻果”它和榴莲并称“夫妻果”它和榴莲并称“夫妻果”</div>
                            <div class="jus-bet ali-cen">
                                <div class="y-color-red font-28">&yen;120.00</div>
                                <div class="y-color-999">x1</div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="y_orderDetails.html">
                    <div class="row-box goods-tier-inner">
                        <div class="goods-img-box">
                            <div class="level-img vertical-center">
                                <div class="vertical-auto"><img src="images/img.jpg"></div>
                            </div>
                        </div>
                        <div class="flex y-order-text">
                            <div class="flavour-title ellipsis2">它和榴莲并称“夫妻果”它和榴莲并称“夫妻果”它和榴莲并称“夫妻果”它和榴莲并称“夫妻果”</div>
                            <div class="jus-bet ali-cen">
                                <div class="y-color-red font-28">&yen;120.00</div>
                                <div class="y-color-999">x1</div>
                            </div>
                        </div>
                    </div>
                </a>

                <div class="statistics">
                    <div class="y-width94 y-text-right">共2件商品 合计：<span class="font-28 y-color-red">¥285</span></div>
                </div>
            </div>
            <div class="y-orderDetais-bottom y-bg-white y-width94 y-mar-top20 font-28">
                <p>订单编号：11111111111111</p>
                <p>下单时间：2017-09-22&nbsp;13:55:03</p>
            </div>
        </div>
        <!--content-->

        <!--footer-->
        <div class="footer-space orderDetais-footer-space"></div>
        <!--间距-->
        <div class="footer-wrap y-bg-white">
            <div class="goods-state-link-box">
                <a class="goods-state-link one" href="javascritp:;">立即付款</a>
                <a class="goods-state-link delete three" href="javascript:;">取消订单</a>
                <div class="clear-float"></div>
            </div>
        </div>
        <!--footer-->
    </body>

</html>