
<!DOCTYPE html>
<html>
	<head>

	<include file="Public/head"/>

	</head>
	
	<body class="body-bgColor">
		<!--header-->
		<div class="header-wrap">
			<div class="header-inner">
				<div class="header-title">银币信用</div>
				<div class="header-left return-prev"><i class="fa fa-angle-left"></i></div>
				<div class="header-right">
					<a class="particulars" href="help.html">使用帮助</a>
				</div>
			</div>	
		</div>
		<div class="header-space"></div>
		<!--header-->
		
		<!--content-->
		<div class="content">
			<div class="wallet-wrap bjcolor">
				<div class="wallet-inner active vertical-center">
					<div class="vertical-auto">
						<div class="wallet-money">1000</div>
						<div class="wallet-unit">可用银币(个)</div>
					</div>
				</div>
				
				<div class="wallet-inner active vertical-center">
					<div class="vertical-auto">
						<div class="wallet-money">0</div>
						<div class="wallet-unit">冻结银币(个)</div>
					</div>
				</div>
				
				<div class="clear-float"></div>
			</div>
			
			<div class="magnitude">申请银币冻结</div>
			
			<ul class="add-bank-ul">
				<li class="add-bank-li">
					<div class="merchant-form row-box" style="margin-top: 0;">
						<div class="merchant-currency">申请个数：</div>
						<div class="row-flex">
							<div class="merchant-form-input vertical-center">
								<div class="vertical-auto" style="width: 100%;"><input type="number" placeholder="请输入银币个数"></div>
							</div>
						</div>
					</div>
				</li>
			</ul>
			
			<div class="illustrate">备注：点击确认您申请后，申请银币数量冻结，审核时间为（1-3个工作日）</div>
			
			<div class="agreement">
				<label for="switch">
					<div class="agreement-left">
						<div class="agreement-input"><input type="checkbox" name="switch" id="switch"></div>
						<div class="agreement-txt">同意</div>
					</div>
				</label>
				<a class="agreement-link" href="agreement.html">《银币信用服务协议》</a>
				<div class="clear-float"></div>
			</div>
			
			<div class="submit-button"><a href="javascript:;">确认申请</a></div>
		</div>
		<!--content-->
		
		<!--footer-->
		<!--footer-->
	</body>
</html>
