<extend name="Base/common"/> 
<block name="header"></block>
<block name="body">	
	<body class="body-bgColor">
		<!--header-->
		<div class="header-wrap">
			<div class="header-inner">
				<div class="header-title">平台介绍</div>
				<div class="header-left return-prev"><i class="fa fa-angle-left"></i></div>
				<div class="header-right"></div>
			</div>	
		</div>
		<div class="header-space"></div>
		<!--header-->
		
		<!--content-->
		<div class="content">
			<ul class="set-con-ul">
				<li class="set-con-li"><a href="tel:4001089805">
					<div class="set-con-name">客服电话</div>
					<div class="set-con-icon"><i class="fa fa-angle-right"></i></div>
					<div class="set-con-phone">400-1089-805</div>
					<div class="clear-float"></div>
				</a></li>
				
				<li class="set-con-li"><a href="opinion.html">
					<div class="set-con-name">意见反馈</div>
					<div class="set-con-icon"><i class="fa fa-angle-right"></i></div>
					<div class="clear-float"></div>
				</a></li>
				
				<li class="set-con-li"><a href="regards.html">
					<div class="set-con-name">关于我们</div>
					<div class="set-con-icon"><i class="fa fa-angle-right"></i></div>
					<div class="clear-float"></div>
				</a></li>
			</ul>
		</div>
		<!--content-->
		
		<!--footer-->
		<!--footer-->
	</body>
</block>	
<block name="footer"></block>	
</html>
