<extend name="Base/common"/> 
<block name="header"></block>
<block name="body">	
	<body class="body-bgColor">
		<!--header-->
		<div class="header-wrap">
			<div class="header-inner">
				<div class="header-title">实名认证</div>
				<if condition="$is_w == 1">
					<a href="/index.php?s=/member/w_purse.html">
						<div class="header-left"><i class="fa fa-angle-left"></i></div>
					</a>
				<else/>
					<a href="/index.php?s=/member/myset.html">
						<div class="header-left"><i class="fa fa-angle-left"></i></div>
					</a>
				</if>
				
				<div class="header-right"></div>
			</div>	
		</div>
		<div class="header-space"></div>
		<!--header-->
		
		<!--content-->
		<div class="content">
			<form action="" name="sm" method="post">
				<ul class="">
					<li class="enter-form-li row-box">
						<div class="enter-form-txt">真实姓名</div>
						<div class="row-flex">
							<div class="enter-form-input">
								<input type="text" name="realname" placeholder="输入真实姓名">
							</div>
						</div>
					</li>
					
					<li class="enter-form-li row-box">
						<div class="enter-form-txt">身份证号</div>
						<div class="row-flex">
							<div class="enter-form-input">
								<input type="text" name="id_nums" placeholder="输入身份证号">
							</div>
						</div>
					</li>
					
					<li class="enter-form-li row-box">
						<div class="enter-form-txt">证件照片</div>
						
						<div class="row-flex"></div>
					</li>
				</ul>
				
					<div class="uploading-wrap">
						<div class="uploading-tier">
							<div class="uploading-img vertical-center">
								<div class="vertical-auto"><img id="zs1" src=""></div>
							</div>
							<div class="uploading-up">上传身份照正面<input id="img_one"  type="file"></div>
						</div>
						
						<div class="uploading-tier">
							<div class="uploading-img vertical-center">
								<div class="vertical-auto"><img id="zs2" src=""></div>
							</div>
							<div class="uploading-up">上传身份照反面<input id="img_two"  type="file"></div>
						</div>
						
						<div class="clear-float"></div>
					</div>
				
				<div class="enter-form-btn">
					<input name="img_one" type="hidden">
					<input name="img_two" type="hidden" >
					<button type="submit" id="sm">立即认证</button>
				</div>
			</form>
			<form action="" name="imgs" method="post" enctype="multipart/form-data"></form><!--上传文件图片-->
		</div>
		<!--content-->
		
		<!--footer-->
		<!--footer-->
	</body>
		
</block>	
<block name="footer"></block>	
<block name="script">
<script>
	$(function(){
		$('form[name="sm"]').submit(function(){
			if(!$('input[name="realname"]').val()){
				layer.msg('请输入姓名！',{icon:0,time:1000})
				return false;
			}
			if(!$('input[name="id_nums"]').val()){
				layer.msg('身份证不能为空！',{icon:0,time:1000})
				return false;
			}
			//身份证正则表达式(15位)
//			isIDCard1=/^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$/;
			//身份证正则表达式(18位)362228199905050612
			isIDCard2=/^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X)$/;
			if(!isIDCard2.test($('input[name="id_nums"]').val())){
				layer.msg('身份证格式有误！',{icon:0,time:1000})
				return false;
			}
			if(!$('input[name="img_one"]').val()){
				layer.msg('请上传身份证正面照片！',{icon:0,time:1000})
				return false;
			}
			if(!$('input[name="img_two"]').val()){
				layer.msg('请上传身份证反面照片！',{icon:0,time:1000})
				return false;
			}
			var data = $(this).serialize(); 	
			$.ajax({
				type:"post",
				url:'{:U("member/set_attestation")}',
				async:true,
				data:data,
				dataType:'json',
				success:function(d){
					if(d.status==1){
						 layer.msg(d.msg, {icon:1, time: 2000,btn: ['好的!']
						 },function(){
						  	window.location.href='{:U("member/myset")}';
						  });
					}else{
						layer.msg(d.msg,{icon:2,time:1000})
					}
				}
			});
			return false;
		
		})
		
		//图片1
		$('#img_one').change(function() {
			var a = $(this);
			var fd = new FormData('form[name="imgs"]');//序列化
			fd.append('file', a[0].files[0]);
		
			if(a.val() != '') {
				$.ajax({
					url: "{:U('Member/zed')}",
					dataType: "JSON",
					data: fd,
					type: "POST",
					contentType: false,
					processData: false,
					success: function(d) {
						if(d != 0) {
							$('#zs1').attr('src', '/data/attachment/useravatar/'+d['img']);//展示
							$('input[name="img_one"]').val(d['img']);//上传后返回的照片名字
							
						}
					}
				})
			}
		})
		//图片2
		$('#img_two').change(function() {
			var a = $(this);
			var fd = new FormData('form[name="imgs"]');//序列化
			fd.append('file', a[0].files[0]);
		
			if(a.val() != '') {
				$.ajax({
					url: "{:U('Member/zed')}",
					dataType: "JSON",
					data: fd,
					type: "POST",
					contentType: false,
					processData: false,
					success: function(d) {
						if(d != 0) {
							$('#zs2').attr('src', '/data/attachment/useravatar/'+d['img']);//展示
							$('input[name="img_two"]').val(d['img']);//上传后返回的照片名字
							
						}
					}
				})
			}
		})
	})
	
	
	
</script>
</block>	
</html>
