<extend name="Base/common"/> 
<block name="header"></block>
<block name="body">	
	<body class="body-bgColor">
		<!--header-->
		<div class="header-wrap">
			<div class="header-inner">
				<div class="header-title">余额提现</div>
				<a href="/index.php?s=/member/w_purse.html">
					<div class="header-left "><i class="fa fa-angle-left"></i></div>
				</a>
				<div class="header-right"></div>
			</div>	
		</div>
		<div class="header-space"></div>
		<!--header-->
		
		<!--content-->
		<div class="content">
			<div class="sealing-wrap">
				<div class="merchant-money">提现金额</div>
				<div class="merchant-form row-box">
					<div class="row-flex">
						<div class="merchant-form-input vertical-center">
							<div class="vertical-auto" style="width: 100%;"><input id="prices" type="number" placeholder="0.00"></div>
						</div>
					</div>
					<div class="merchant-currency">元</div>
				</div>
			</div>
				
			<div class="extract-title">限每三天提现一次,三个工作日到账</div>
			
			<!--支付选项-->
			<div class="pay-wrap">
				<ul>	
				<!--勾选，当有银行卡的时候跳转到银行卡页面bank.html进行选择/在bank.html页面点击银行卡返回到当前页面，调取银行卡信息-->
				<!--勾选，当没有银行卡的时候调转到添加银行卡页面-->
					<volist name="card" id="c">
						<li class="pay-li active">
							<label form="bank">
								<div class="row-box">
									<div class="pay-icon">
										<div class="pay-icon-img"><img src="__MB__images/icon18.png"></div>
									</div>
									
									<div class="row-flex">
										<div class="pay-name">银行卡</div>
										<div class="pay-name-t"></div>
										<div class="clear-float"></div>
									</div>
									
									<div class="pay-input-box">
										<div class="pay-input-inner" data-id="{$c['id']}"><input name="pay-name" type="radio" id="bank"></div>
									</div>
								</div>
							</label>
						</li>
						<li class="pay-li">
							<div class="row-box">
								<div class="pay-icon">
									<div class="pay-icon-img"></div>
								</div>
									
								<div class="row-flex">
										<div class="bank-link">{$c.name}({$c.nums})</div>
								</div>
									
								<div class="pay-input-box">
									<div class="pay-right-icon"><i class="fa fa-angle-right"></i></div>
								</div>
							</div>
						</li>
					</volist>
				</ul>
			</div>
			<!--支付选项-->
			
			<div class="submit-button"><a class="extract-btn" href="javascript:;" >确认提现</a></div>
		</div>
		<!--content-->
		
		<!--元宝支付密码-->
		<div class="shoe-shaped vertical-center">
			<div class="shoe-shaped-inner vertical-auto">
				<div class="shoe-shaped-title">支付密码<div class="close-shoe-shaped"></div></div>
				<div class="shoe-shaped-name">提现银行卡</div>
				<div class="shoe-shaped-money"><span><img src="__MB__images/icon19.png"></span><span id="look_prices">10</span></div>
				<div class="shoe-shaped-input vertical-center">
					<div class="vertical-auto" style="width: 100%;"><input id="pw" type="password" placeholder="请输入您的支付密码"/></div>
				</div>
				<!--<a href="pay_succeed.html">-->
				<div class="shoe-shaped-btn"><button type="button" id="sure_tx">确认</button></div>
				<!--</a>-->
			</div>
		</div>
		<!--元宝支付密码-->
		
		<!--footer-->
		<!--footer-->
	</body>
</block>	
<block name="footer"></block>	
<block name="script">
<script>
	$('.extract-btn').click(function(){
		
		var card_nums = $('ul').find('.pay-li').length;
		if(card_nums/2 < 1){
			layer.confirm('请添加银行卡！', {
				icon:0,
				btn: ['是的','取消'] //按钮
			}, function(){
				window.location.href='{:U("member/add_bank",array("is_tx"=>1))}';
			})
			return false;
		}	
		
		var prices = $('#prices').val();

		
		if(!prices){
			layer.msg('请输入金额！',{icon:0,time:1000})
			return false;
		}
		
		if(parseFloat(prices) < 0 | parseFloat(prices) == 0){
			layer.msg('请确认您输入的数字是否正确！',{icon:0,time:1000})
			return false;
		}
		
		var re = /^[0-9]*[0-9]$/i; //校验是否为数字
		if(re.test(prices) &&  prices % 100 === 0) { 
			var  order_id= $('.pay-input-inner.active');
			 if(order_id.length != 1) {
			 	layer.msg('请选择一张银行卡！',{icon:0,time:1000})
			  	return false;
			 }
			$('#look_prices').html(prices);
			$(".shoe-shaped").addClass("active");
			$(".shoe-shaped-money span img").attr("src","__MB__images/icon31.png");
		 	
		 } else {
		 	layer.msg('提现金额单位是百！',{icon:0,time:1000})
		  	return false;
		 }
		 return false;
	});
	
	$('#sure_tx').click(function(){
//		var pws = '{$member["paypassword"]}';
//		if(pws == ''){
//			layer.confirm('请设置支付密码！', {
//				icon:0,
//				btn: ['是的','取消'] //按钮
//			}, function(){
//				window.location.href='{:U("member/set_pw_pay")}';
//			})
//			return false;
//		}	
		
		var pw =$('#pw').val();
		var prices = $('#prices').val();
		if(pw.length == 6){
		 //输入密码后提交订单
		 var  card_id= $('.pay-input-inner.active').data('id');
		 $.post('{:U("member/withdraw_order_make")}',{prices:prices,card_id:card_id,pw:pw},function(d){
		 	if(d.status ==1){
		 		console.log(d.dingdan);
		 		layer.msg('提现请求成功,后台审核中!',{icon:1,time:1000},function(){	
		 			window.location.href='/index.php?s=/member/wallet.html';
		 		})
		 	}
		 	else{
		 		layer.msg(d.msg);
		 	}
		 });
		}else{
			layer.msg('请输入6位数的支付密码！',{icon:0,time:1000})
		}
		 
		
		
	});
	
</script>
</block>
</html>
