<include file="Public:header" />
<!--编辑商品-->
<form name="info_form" id="info_form" action="{:u('daystock/verify')}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{$info.id}" />
    <div class="pad_lr_10">
        <div class="col_tab">

            <div class="J_panes">
                <div class="content_list pad_10">
                    <table width="100%" cellspacing="0" class="table_form">
                        <tr>
                            <th>订单号码 :</th>
                            <td>
                                <input type="text" class="input-text" size="40" value="{$info.order_id}" disabled="disabled" />
                            </td>
                        </tr>
                        <tr>
                            <th>炒股总额:</th>
                            <td>
                                <input type="text" name="total" id="J_total" class="input-text" size="20" value="{:number_format($info['total'])}" /><span class="st-tips"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>本金:</th>
                            <td>
                                <input type="text" name="capital" id="J_capital" class="input-text" size="20" value="{$info['capital']}" /><span class="st-tips"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>配资:</th>
                            <td>
                                <input type="text" name="provide_fee" id="J_provide_fee" class="input-text" size="20" value="{$info['provide_fee']}" /><span class="st-tips"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>平仓线:</th>
                            <td>
                                <input type="text" name="capital" id="J_open_line" class="input-text" size="20" value="{$info['open_line']}" /><span class="st-tips"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>警戒线:</th>
                            <td>
                                <input type="text" name="capital" id="J_warnning_line" class="input-text" size="20" value="{$info['warnning_line']}" /><span class="st-tips"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>开始时间 :</th>
                            <td><input type="text" name="start_time" class="input-text" size="50" value="{:date('Y-m-d H:i:s',$info['start_time'])}" id="J_time_start"></td>
                        </tr>
                        <tr>
                            <th>结束时间 :</th>
                            <td><input type="text" name="end_time" class="input-text" size="50" value="{:date('Y-m-d H:i:s',$info['end_time'])}" id="J_time_end"></td>
                        </tr>
                        <tr>
                            <th>期限:</th>
                            <td>
                                <input type="text" name="deadline" id="J_deadline" class="input-text" size="20" value="{$info['deadline']}" /><span class="st-tips"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>管理费:</th>
                            <td>
                                <input type="text" name="manage_fee" id="J_manage_fee" class="input-text" size="20" value="{$info['manage_fee']}" /><span class="st-tips"></span>
                            </td>
                        </tr>

                    </table>
                </div>


            </div>
            <div class="mt10">
                <input type="submit" value="审核通过" id="dosubmit" name="dosubmit" class="btn btn_submit" style="margin:0 0 10px 100px;">
                <input type="button" value="审核不通过" id="do_verify_back" name="dosubmit" class="btn btn_submit" style="margin:0 0 10px 100px;">
            </div>
        </div>
    </div>
    <input type="hidden" name="menuid"  value="{$menuid}"/>
    <input type="hidden" name="id" value="{$info.id}" />
</form>
<include file="Public:footer" />
<link rel="stylesheet" href="__STATIC__/js/calendar/calendar-blue.css"/>
<script src="__STATIC__/js/calendar/calendar.js"></script>
<script>
    Calendar.setup({
        inputField : "J_time_start",
        ifFormat   : "%Y-%m-%d %H:%M:%S",
        showsTime  : true,
        timeFormat : "24"
    });
    Calendar.setup({
        inputField : "J_time_end",
        ifFormat   : "%Y-%m-%d %H:%M:%S",
        showsTime  : true,
        timeFormat : "24"
    });
    $('#do_verify_back').click(function(){
        $("form[name='info_form']").attr('action','{:U("daystock/verify",array('status'=>1))}');
        $("form[name='info_form']").submit();
    })
</script>

</body>
</html>