
<div class="dialog_content">
    <form id="info_form" name="info_form" action="{:u('trader/add')}" method="post">
    <table width="100%" class="table_form">
        <tr>
            <th width="80">姓名 :</th>
            <td><input type="text" name="username" id="username" class="input-text"></td>
        </tr>
        <tr>
            <th width="80">手机 :</th>
            <td><input type="text" name="mobile" id="mobile" class="input-text"></td>
        </tr>
        <tr>
            <th width="80">备用电话 :</th>
            <td><input type="text" name="tel" id="tel" class="input-text"></td>
        </tr>
        <tr>
            <th width="80">级别 :</th>
            <td><input type="text" name="rank" id="rank" class="input-text" value="start"></td>
        </tr>
        <tr>
            <th width="80">级别数 :</th>
            <td><input type="text" name="level" id="level" class="input-text">请填写1-5的数字</td>
        </tr>

        <tr>
            <th width="80">排序 :</th>
            <td><input type="text" name="ordid" id="ordid" class="input-text" value="100"></td>
        </tr>

        <tr>
            <th>{:L('enabled')} :</th>
            <td>
                <input type="radio" name="status" class="radio_style" value="1" checked="checked"> &nbsp;{:L('yes')}&nbsp;&nbsp;&nbsp;
                <input type="radio" name="status" class="radio_style" value="0"> &nbsp;{:L('no')}
            </td>
        </tr>
    </table>
    </form>
</div>

<script>
    $(function(){

        $('#info_form').ajaxForm({success:complate,dataType:'json'});
        function complate(result){
            if(result.status == 1){
                $.dialog.get(result.dialog).close();
                $.pinphp.tip({content:result.msg});
                window.location.reload();
            } else {
                $.pinphp.tip({content:result.msg, icon:'alert'});
            }
        }
    });
</script>
