<include file="Public:header" />
<!--角色管理-->
<div class="pad_lr_10">
    <div class="J_tablelist table_list" data-acturi="{:U('trader/ajax_edit')}">
    <table width="100%" cellspacing="0">
        <thead>
            <tr>
                <th width="40"><input type="checkbox" name="checkall" class="J_checkall"></th>
                <th>ID</th>
      			<th align="left">姓名</th>
                <th align="left">电话</th>
                <th align="left">等级</th>
                <th align="left">等级数</th>
                <th>{:L('sort_order')}</th>
                <th>{:L('role_status')}</th>
                <th width="150">{:L('operations_manage')}</th>
            </tr>
        </thead>
    	<tbody>
        	<volist name="list" id="val">
        	<tr>
                <td align="center"><input type="checkbox" class="J_checkitem" value="{$val.id}"></td>
                <td align="center">{$val.id}</td>
                <td><span data-tdtype="edit" data-field="name" class="tdedit" data-id="{$val.id}">{$val.username}</span></td>
                <td><span data-tdtype="edit" data-field="remark" class="tdedit" data-id="{$val.id}">{$val.mobile}</span></td>
                <td><span data-tdtype="edit" data-field="rank" class="tdedit" data-id="{$val.id}">{$val.rank}</span></td>
                <td><span data-tdtype="edit" data-field="level" class="tdedit" data-id="{$val.id}">{$val.level}</span></td>
                <td align="center"><span data-tdtype="edit" data-field="ordid" data-id="{$val.id}" class="tdedit">{$val.ordid}</span></td>
                <td align="center">
                    <img data-tdtype="toggle" data-field="status" data-id="{$val.id}" data-value="{$val.status}" src="__PUBLIC_ADMIN__images/toggle_<if condition="$val.status eq 0">disabled<else/>enabled</if>.gif" />
                </td>
                <td align="center">
                    <a href="javascript:;" class="J_showdialog" data-uri="{:U('trader/edit', array('id'=>$val['id']))}" data-title="{:L('edit')} - {$val.name}"  data-id="edit" data-width="450" data-height="190">{:L('edit')}</a> |
                    <a href="javascript:;" class="J_confirmurl" data-acttype="ajax" data-uri="{:U('trader/delete', array('id'=>$val['id']))}" data-msg="{:sprintf(L('confirm_delete_one'),$val['name'])}">{:L('delete')}</a>
                </td>
            </tr>
            </volist>
    	</tbody>
    </table>
    </div>
    <div class="btn_wrap_fixed">
        <label class="select_all mr10"><input type="checkbox" name="checkall" class="J_checkall">{:L('select_all')}/{:L('cancel')}</label>
        <input type="button" class="btn" data-tdtype="batch_action" data-acttype="ajax" data-uri="{:U('trader/delete')}" data-name="id" data-msg="{:L('confirm_delete')}" value="{:L('delete')}" />
        <div id="pages">{$page}</div>
    </div>
</div>
<include file="Public:footer" />
</body>
</html>