<block name="footer">

		<!--footer-->

		<div class="footer-space"></div><!--间距-->

		<div class="footer-wrap">

			<div class="footer-inner">

				<div class="footer-nav row-box">

					<a class="row-flex footer-link one <eq name="ACTION_NAME" value="index">active</eq>" href="{:U('Index/index')}">首页</a>

					<a class="row-flex footer-link two <eq name="ACTION_NAME" value="cate">active</eq>" href="{:U('Index/cate')}">分类</a>

					<a class="row-flex footer-link three <eq name="ACTION_NAME" value="activity">active</eq>" href="javascript:;">活动</a>

					<a class="row-flex footer-link foru <eq name="ACTION_NAME" value="ambitus_head">active</eq>" href="{:U('Index/location')}">周边</a>

					<a class="row-flex footer-link five <eq name="ACTION_NAME" value="mine">active</eq>" href="{:U('Member/mine')}">我的</a>

				</div>

			</div>

		</div>

		<!--footer-->

		



	</block>		

<block name="script"></block>