<include file="Public:header" />

<div class="pad_lr_10" >
    <form name="searchform" method="get" >
    <table width="100%" cellspacing="0" class="search_form">
        <tbody>
        <tr>
            <td>
            <div class="explain_col">
                <input type="hidden" name="m" value="admin" />
                <input type="hidden" name="c" value="fund" />
                <input type="hidden" name="a" value="withdrawal" />
                <input type="hidden" name="menuid" value="{$menuid}" />
                申请时间：
                <input type="text" name="time_start" id="time_start" class="date" size="12" value="{$search.time_start}">
                -
                <input type="text" name="time_end" id="time_end" class="date" size="12" value="{$search.time_end}">
                &nbsp;&nbsp;更新时间：
                <input type="text" name="update_time_start" id="update_time_start" class="date" size="12" value="{$search.update_time_start}">
                -
                <input type="text" name="update_time_end" id="update_time_end" class="date" size="12" value="{$search.update_time_end}">

                &nbsp;&nbsp;{:L('status')}:
                <select name="status">
                <option value="">-{:L('all')}-</option>
                <option value="1" <if condition="$search.status eq '1'">selected="selected"</if>>已完成</option>
                <option value="0" <if condition="$search.status eq '0'">selected="selected"</if>>等待支付</option>
                </select>
                &nbsp;&nbsp;{:L('keyword')} :
                <input name="keyword" type="text" class="input-text" size="25" value="{$search.keyword}" />
                <input type="submit" name="search" class="btn" value="{:L('search')}" />
            </div>
            </td>
        </tr>
        </tbody>
    </table>
    </form>

    <div class="J_tablelist table_list" data-acturi="{:U('article/ajax_edit')}">
    <table width="100%" cellspacing="0">
        <thead>
            <tr>
                <th width=25><input type="checkbox" id="checkall_t" class="J_checkall"></th>
                <th><span data-tdtype="order_by" data-field="id">ID</span></th>
                <th><span data-tdtype="order_by" data-field="member_id">申请人</span></th>
                <th><span data-tdtype="order_by" data-field="order_id">提现金额</span></th>
				<th width=150>代收手续费</th>
                <th><span data-tdtype="order_by" data-field="account">收款帐号</span></th>
                <th width=150><span data-tdtype="order_by" data-field="create_time">申请时间</span></th>
                <th width=150><span data-tdtype="order_by" data-field="update_time">更新时间</span></th>
                <th width="140"><span data-tdtype="order_by" data-field="status">{:L('status')}</span></th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <volist name="list" id="val" >
            <tr>
                <td align="center"><input type="checkbox" class="J_checkitem" value="{$val.id}"></td>
                <td align="center">{$val.id}</td>
                <td align="center">{$val.nickname}</td>
                <td align="center">{$val.fee}</td>
                <td align="center">0.00</td>
                <td align="center">{$val.account}</td>
                <td align="center">{$val.create_time|date='Y-m-d H:i:s',###}</td>
                <td align="center">{$val.update_time|date='Y-m-d H:i:s',###}</td>
                <td align="center">{$withdrawal_status[$val['status']]}</td>
                <td>
                    <if condition="$val['status'] eq 2">
                        <a href="javascript:void(0);" class="J_confirmurl" data-acttype="ajax" data-uri="{:u('fund/withdrawal_reject', array('id'=>$val['id']))}" data-msg="驳回{$val['nickname']}金额{$val['fee']}元的提现申请?">驳回</a> |
                        <a href="javascript:void(0);" class="J_confirmurl" data-acttype="ajax" data-uri="{:u('fund/withdrawal_verify', array('id'=>$val['id']))}" data-msg="批准{$val['nickname']}金额{$val['fee']}元的提现申请?">审核</a>
                    <elseif condition="$val['status'] eq 3" />
                        <a href="javascript:void(0);" class="J_confirmurl" data-acttype="ajax" data-uri="{:u('fund/withdrawal_pay', array('id'=>$val['id']))}" data-msg="确认已支付金额{$val['fee']}元到{$val['account']}的账号上?">支付</a>
                    </if>
                </td>
            </tr>
            </volist>
        </tbody>
    </table>

    <div class="btn_wrap_fixed">
        <label class="select_all"><input type="checkbox" name="checkall" class="J_checkall">{:L('select_all')}/{:L('cancel')}</label>
        <input type="button" class="btn" data-tdtype="batch_action" data-acttype="ajax" data-uri="{:U('article/delete')}" data-name="id" data-msg="{:L('confirm_delete')}" value="{:L('delete')}" />
        <div id="pages">{$page}</div>
    </div>

    </div>
</div>
<include file="Public:footer" />
<link rel="stylesheet" type="text/css" href="__PUBLIC_ADMIN__js/calendar/calendar-blue.css"/>
<script src="__PUBLIC_ADMIN__js/calendar/calendar.js"></script>
<script>

Calendar.setup({
    inputField : "time_start",
    ifFormat   : "%Y-%m-%d",
    showsTime  : false,
    timeFormat : "24"
});
Calendar.setup({
    inputField : "time_end",
    ifFormat   : "%Y-%m-%d",
    showsTime  : false,
    timeFormat : "24"
});
Calendar.setup({
    inputField : "update_time_start",
    ifFormat   : "%Y-%m-%d",
    showsTime  : false,
    timeFormat : "24"
});
Calendar.setup({
    inputField : "update_time_end",
    ifFormat   : "%Y-%m-%d",
    showsTime  : false,
    timeFormat : "24"
});
</script>
</body>
</html>
