<include file="Public/member_top" />
    <!--右测导航栏开始-->
    <div class="x-right-colunm">

        <div class="x-account">
            <div class="x-account-txt">服务周期</div>
			<table class="fwzq-table">
				<thead> 
					<tr>
						<th>课程名称</th>
						<th>课程类型</th>
						<th>老师</th>
						<th>服务周期</th>
						<th>开始时间</th>
						<th>结束时间</th>   
						<th>剩余时间</th> 
					</tr>
				</thead>
				<tbody>
					<volist name="list" id="val">
						<tr>
							<td>{$val['title']}</td>
							<td>家庭教育指导</td>
							<td>{$val['name']}</td>
							<td>{$val['cycle']}个月</td>
							<td>
								<if condition="$val['is_check'] eq 1">
									审核中
								<else />
									{$val['check_time']|date="Y-m-d",###}
								</if>
							</td>
							<td>
								<if condition="$val['is_check'] eq 1">
									审核中
								<else />
									{$val['end_time']|date="Y-m-d",###}
								</if>
							</td>
							<td>{$val['day']}天</td>
						</tr>
					</volist>
				</tbody>
			</table>
        </div>
    </div>
    <!--右测导航栏结束-->
</div>

<!--上传头像-->
<div id='layer'>
	<div class="layerBox">
		<div class="layerBox-btnBox">
	        <a href="javascript:;" class="photoClip-close"></a>
	    </div>
	    <div id="clipArea"></div> 
	    <a href="javascript:;" id="clipBtn" class="btn blue">截取</a>
	</div>
    
</div>
<!--上传头像-->
<!--公共底部-->
<include file="Public/footer" /> 
<link rel="stylesheet" href="__PC__plugins/layui-v1.0.9/layui/css/modules/layer/default/layer.css">
<script src="__PC__js/linkage.js"></script>
<script src="__PC__plugins/layui-v1.0.9/layui/lay/modules/layer.js"></script>
<script type="text/javascript" src="__PC__js/imgUpload/hammer.js"></script>
<script type="text/javascript" src="__PC__js/imgUpload/iscroll-zoom.js"></script>
<script type="text/javascript" src="__PC__js/imgUpload/jquery.photoClip.js"></script>
<script>
    $(function () {
        $('.x-information-sel').cate_select({top_option:'请选择',target_class:'x-information-sel'}); //分类联动

        //提交注册
        $('#self_button').click(function () {
            var cate_id = $('#J_cate_id').val(),
                realname = $('input[name=realname]').val(),
                data = $("form").serialize();

            if(!realname){
                layer.msg('请输入您的姓名');
                return false;
            }
            if(cate_id == 0){
                layer.msg('请选择分类');
                return false;
            }

            //提交注册
            $.ajax({
                type: "post",
                url: "{:U('Member/self')}",
                async:false,
                data: data,
                dataType: "json",
                success: function(result){
                    layer.msg(result[1]);
                }
            });
        })

        //选择图片后
        $('#avatar').change(function(){
            $('#layer').show();
        })
        //关闭截图
        $("#layer .photoClip-close").click(function(){
            $('#layer').hide();
        })
        //上传头像
        $("#clipArea").photoClip({
            width: 200,
            height: 200,
            file: "#avatar",
            //view: "#view",
            ok: "#clipBtn",
            strictSize:true,
            loadStart: function() {
                console.log("照片读取中");
            },
            loadComplete: function() {
                console.log("照片读取完成");
            },
            clipFinish: function(dataURL) {
                $.post("{:U('Member/upload_avatar')}",{str:dataURL},function (result) {
                    if(result[0] == 1){
                        $('#layer').hide();
                        $('#set-avatar').attr('src',result[1]);
                    }else{
                        layer.msg(result[1]);
                    }
                },'json');
            }
        });
    })
</script>
</body>
</html>
