<!--编辑会员-->
<div class="dialog_content">
    <form id="info_form" action="{:u('MemberCardCate/add')}" method="post">
        <table width="100%" class="table_form">
            <tr>
                <th>说明 :</th>
                <td><input type="text" name="title" id="title" class="input-text fl mr10" value="" size="30"></td>
            </tr>
            <tr>
                <th width="100">面值 :</th>
                <td><input type="text" name="face_value" id="price" class="input-text fl mr10" size="30" value=""></td>
            </tr>
            <tr>
                <th>分类 :</th>
                <td>
                	<volist name="list" id="val">
                		&nbsp;&nbsp;
                		<input type="checkbox" name="cate[]" value="{$val['id']}"> {$val['name']}
                		<if condition="($i%4) eq 0"></br></if>  
                	</volist>  
                </td>
            </tr>  
        </table>
    </form>
</div>
<script src="__STATIC__/js/fileuploader.js"></script>
<script>
    $(function(){
        $.formValidator.initConfig({formid:"info_form",autotip:true});
        $("#price").formValidator({onshow:'请填写面值',onfocus:'请填写面值'}).inputValidator({min:1,onerror:'请填写面值'});
        
        /*$("#title").formValidator({onshow:'请填写名称',onfocus:'请填写名称'}).inputValidator({min:1,onerror:'请填写名称'});*/
        
        $('#info_form').ajaxForm({success:complate,dataType:'json'});
        
        function complate(result){
            if(result.status == 1){
                $.dialog.get(result.dialog).close();
                $.pinphp.tip({content:result.msg});
                window.location.reload();
            } else {
                $.pinphp.tip({content:result.msg, icon:'alert'});
            }
        }
    });
</script>