<include file="Public:header" />
<!--会员列表-->
<div class="pad_10" >
    
  <div class="J_tablelist table_list" data-acturi="{:U('MemberCardCate/ajax_edit')}">
    <table width="100%" cellspacing="0">
<thead>
            <tr>
                <th width=20><input type="checkbox" id="checkall_t" class="J_checkall"></th>
                <th width="101" align="left">ID</th>
                <th width="101" align="left">说明</th>
                <th width="110"  align="left">面值</th>
              	<th width="110" align="left">分类</th>
                <th width="115"><span data-tdtype="order_by" data-field="status">{:L('status')}</span></th>
                <th width="175">{:L('operations_manage')}</th>
          </tr>
        </thead>
            <volist name="list" id="val" >
            <tr>
                <td align="center"><input type="checkbox" class="J_checkitem" value="{$val.id}"></td>
                <td align="center">{$val.id}</td>
                <td align="center">{$val['title']}</td>  
                <td align="center">{$val['face_value']}</td>  
                <td align="center">{:_cate($val['cate'],$cate_list)}</td>
                <td align="center"><img data-tdtype="toggle" data-id="{$val.id}" data-field="status" data-value="{$val.status}" src="__STATIC__/images/toggle_<if condition="$val.status eq 0">disabled<else/>enabled</if>.gif" /></td>
                <td align="center">
                    <a href="javascript:;" class="J_showdialog" data-uri="{:u('MemberCardCate/edit', array('id'=>$val['id'], 'menuid'=>$menuid))}" data-title="编辑-{$val.nickname}" data-id="edit" data-width="520" data-height="100">编辑</a> |
                    <a href="javascript:void(0);" class="J_confirmurl" data-uri="{:u('MemberCardCate/delete', array('id'=>$val['id']))}" data-acttype="ajax" data-msg="{:sprintf(L('confirm_delete_one'),$val['nickname'])}">{:L('delete')}</a></td>

            </tr>
            </volist>
    </table>
  </div>
    <div class="songkebor">

        <label class="select_all"><input type="checkbox" name="checkall" class="J_checkall">{:L('select_all')}/{:L('cancel')}</label>

        <input type="button" class="btn" data-tdtype="batch_action" data-acttype="ajax" data-uri="{:U('MemberCardCate/delete')}" data-name="id" data-msg="{:L('confirm_delete')}" value="{:L('delete')}" />

        <div id="pages">{$page}</div>

    </div>
</div>

<include file="Public:footer" />

<link rel="stylesheet" type="text/css" href="__STATIC__/js/calendar/calendar-blue.css"/>
<script type="text/javascript" src="__STATIC__/js/calendar/calendar.js"></script>

<script>

	$('.J_cate_select').cate_select({top_option:lang.all}); //分类联动

</script>

</body>

</html>
<?php
	//解析分类
	function _cate($cate,$cate_list){
		if(!$cate) echo $cate;
		$cate = explode(",",$cate);
		foreach($cate as $v){
			$str .= $cate_list[$v]." /";
		}		
		echo rtrim($str,"/");
	}
?>

