<include file="Public:header" />
<!--订单列表-->
<div class="pad_lr_10" >
    <form name="searchform" method="get">
        <table width="100%" cellspacing="0" class="search_form">
            <tbody>
            <tr>
                <td>
                    <div class="explain_col">
                        <input type="hidden" name="m" value="admin" />
                        <input type="hidden" name="c" value="order" />
                        <input type="hidden" name="a" value="index" />
                        <input type="hidden" name="menuid" value="{$menuid}" />
                        下单时间 :
                        <input type="text" name="start_addtime" value="{$search.start_addtime}"  id="J_start_addtime" class="date" size="12">
                        -<input type="text" name="end_addtime" value="{$search.end_addtime}"  id="J_end_addtime" class="date" size="12">&nbsp;&nbsp;
                        <!-- 配送时间 :
                         <input type="text" name="start_delivery" value="{$search.start_delivery}"  id="J_start_delivery" class="date" size="12">
                         -<input type="text" name="end_delivery" value="{$search.end_delivery}"  id="J_end_delivery" class="date" size="12">-->
                        支付类型 :
                        <select name="zftype">
                            <option value="">-{:L('all')}-</option>
                            <volist name=":order_zftype()" id="val">
                                <option value="{$i}" <if condition="$search.zftype eq $i ">selected="selected"</if>>{$val}</option>
                            </volist>
                        </select>

                        <!--仅订单列表-->
                        <if condition="$search.is_tk neq '2' &&  $search.is_tk neq '1'">
                            &nbsp;&nbsp;订单状态 : <select name="status">
                            <option value="">-{:L('all')}-</option>
                            <volist name=":order_status()" id="val">
                                <option value="{$i}" <if condition="$search.status eq $i ">selected="selected"</if>>{$val}</option>
                            </volist>
                        </select>
                        </if>
                        <!--仅仅退款订单-->
                        <if condition="$search.is_tk eq '1'">
                            退款订单:
                            <select name="tk_status">
                                <option value="">-{:L('all')}-</option>
                                <option value="1" <if condition="$search.status eq '1'">selected="selected"</if>>退款中</option>
                                <option value="2" <if condition="$search.status eq '2'">selected="selected"</if>>已审核</option>
                                <option value="3" <if condition="$search.status eq '3'">selected="selected"</if>>已驳回</option>
                            </select>
                        </if>

                        &nbsp;&nbsp;{:L('keyword')} :<input name="keyword" type="text" class="input-text" size="25" value="{$search.keyword}" placeholder="订单号/用户手机"/>&nbsp;&nbsp;
                        <input type="hidden" name="is_tk" value="{$is_tk}" />

                        <input type="submit" class="btn" value="搜索" />
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    <div class="pad_lr_10">
        <!--<div class="skbor">

            <label class="select_all">

                <input type="checkbox" name="checkall" class="J_checkall">{:L('select_all')}/{:L('cancel')}</label>

            <input type="button" class="btn" data-tdtype="batch_action" data-uri="{:U('order_wm/export_order_wms',array('menuid'=>$menuid))}" data-name="id" value="导出" />

            <if condition="$search.keyword neq '' or $search.start_addtime neq '' or $search.end_addtime neq '' or $search.start_delivery neq '' or $search.end_delivery neq '' or $search.status neq '' ">

                &nbsp;&nbsp;&nbsp;&nbsp;订单总金额：<span style="color: #f42e02">{$prices} 元</span>

            </if>

        </div>-->
        <div class="content_list">
            <div class="J_tablelist table_list" data-acturi="{:U('order_wm/ajax_edit')}">
                <table width="100%" cellspacing="0">
                    <thead>
                    <tr>

                        <!--<th width="40"><input type="checkbox" name="checkall" class="J_checkall"></th>-->

                        <th width="10"><input type="checkbox" id="checkall_t" class="J_checkall"></th>
                        <!--<th width=50><span data-tdtype="order_wm_by" data-field="id">ID</span></th>-->
                        <th align="center" width="30">订单号</th>
                        <th align="center" width="30"><span data-tdtype="order_by" data-field="order_amount">金额(元)</th>
                        <th width="50">支付方式</th>
                        <th width="50">订单状态</th>
                        <!--<th width="50">退款情况</th>-->
                        <th width="70">用户名</th>
                        <th width="70">手机号</th>
                        <th width="70">备注</th>
                        <th width="70">下单时间</th>
                        <th width="50">订单详情</th>

                        <if condition="$search.is_tk eq '1'  ">
                            <th width="50">{:L('operations_manage')}</th>

                        </if>
                        <if condition="$search.is_tk eq '2' ">
                            <th width="50">接单操作</th>
                        </if>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="list" id="val" >
                        <tr>
                            <td align="center"><input type="checkbox" class="J_checkitem" value="{$val.id}"></td>
                            <!--<td align="center">{$val.id}</td>-->
                            <td align="center">{$val.dingdan}</td>
                            <td align="center">{$val.order_amount}</td>
                            <td align="center">
                                <?php if(!order_zftype()[$val['zftype']]){
                                    echo '未选择';
                                    }else{
                                    echo order_zftype()[$val['zftype']];
                                    }
                                ?>
                            </td>
                            <td align="center">{:order_status()[$val['status']]}</td>
                            <!--<td align="center">
                                <volist name='val["sub"]' id='vo'>
                                    {$vo['title']}    &lt;!&ndash;{$gwc_title[$vo['jid']]}&ndash;&gt;<if condition="$vo['did'] eq 0">{$vo['nums']}{$vo['unit']}&lt;!&ndash;{$gwc_unit[$vo['jid']]}&ndash;&gt;<else />{$vo['nums']}{$gwc_value[$vo['did']]} </if><br>
                                </volist>
                            </td>-->
                            <td align="center">{$member_list[$val['uid']]['nickname']}</td>
                            <td align="center">{$member_list[$val['uid']]['mobile']}</td>
                            <td align="center">{$val.memos}</td>
                            <td align="center">{$val.add_time|date='Y-m-d',###}</td>
                            <td align="center">
                                <!--<a href="{:u('order_wm/edit',array('id'=>$val['id'],'menuid'=>$menuid))}">详情</a>-->
                                <a href="javascript:;" class="J_showdialog" data-uri="{:u('order/detail', array('id'=>$val['id']))}" data-title="查看详情"  data-id="edit" data-width="900" data-height="300" >详情</a>
                            </td>
                            <if condition="$search.is_tk  eq '1'">
                                <td align="center">
                                    <if condition="$val.tk_status eq '1'">
                                        <a href="javascript:void(0);" class="J_confirmurl" data-uri="{:u('order/sh', array('id'=>$val['id'],'status'=>1))}" data-acttype="ajax" data-msg="您确定通过?">通过</a>
                                        |<a href="javascript:void(0);" class="J_confirmurl" data-uri="{:u('order/sh', array('id'=>$val['id'],'status'=>2))}" data-acttype="ajax" data-msg="您确定驳回?">驳回</a>
                                        <elseif condition="$val.tk_status eq '2'" />
                                        已通过<else />已驳回</if>
                                </td>
                            <elseif condition="$search.is_tk eq '2'" />
                                <td align="center">
                                    <if condition="$val.status eq '2'">
                                        <a href="javascript:;" class="J_showdialog" data-uri="{:u('order/send', array('id'=>$val['id']))}" data-title="发货"  data-id="edit" data-width="500" data-height=100 >发货</a>
                                        <!--|<a href="javascript:void(0);" class="J_confirmurl" data-uri="{:u('order/no_send', array('id'=>$val['id'],'status'=>2))}" data-acttype="ajax" data-msg="您确定拒绝接单?">拒绝</a>-->
                                        <elseif condition="$val.status eq '3'" />已发货
                                        <elseif condition="$val.status eq '6'" />已拒绝

                                        <else />
                                    </if>
                                </td>
                            <else />
                            </if>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="songkebor">

        <div id="pages">{$page}</div>
    </div>
</div>

<include file="Public:footer" />
<script>
    laydate.render({
        elem: '#J_start_addtime'
    });

    laydate.render({
        elem: '#J_end_addtime'
    });
</script>

</body>

</html>


