<extend name="Base/common"/>
<block name="header"></block>
<block name="body">
    <!--元宝充值支付页面-->
    <body class="body-bgColor">
    <!--header-->
    <div class="header-wrap">
        <div class="header-inner">
            <div class="header-title">支付方式</div>
            <div class="header-left return-prev"><i class="fa fa-angle-left"></i></div>
            <div class="header-right"></div>
        </div>
    </div>
    <div class="header-space"></div>
    <!--header-->
    <!--content-->
    <div class="content y-payment-content">
        <div class="y-income y-width94 y-bg-white font-28">
            <p class="y-payment-text">订单编号：<span>{$dingdan}</span></p>
            <p class="y-payment-text">支付金额：&yen;<span>{$money}</span></p>
        </div>
        <!--支付方式-->
        <div>
            <p class="y-payment-msg font-28 y-color-999 y-width94">支付方式</p>
            <div class="y-width94 y-bg-white" id="check_pay">
                <if condition="$money neq 0">
                    <div class="ali-cen y-payment-select" data-zftype="1">
                        <div class="left y-selectCard-img2">
                            <img src="__MB__images/icon17.png" />
                        </div>
                        <div class="y-selectCard-text flex flex1">
                            <p>微信支付</p>
                            <p class="y-selectCard-text-msg">推荐安装微信5.0及以上版本的使用</p>
                        </div>
                    </div>
                </if>
                <!--<div class="ali-cen y-payment-select y-payment-select-sed">
                    <div class="left y-selectCard-img2">
                        <img src="__MB__images/ico-zhifubao.png" />
                    </div>
                    <div class="y-selectCard-text flex flex1">
                        <p>支付宝支付</p>
                        <p class="y-selectCard-text-msg">推荐有支付宝账号的用户使用</p>
                    </div>
                </div>-->
                <div class="ali-cen y-payment-select" data-zftype="3">
                    <div class="left y-selectCard-img2">
                        <img src="__MB__images/y_icon35.png" />
                    </div>
                    <div class="y-selectCard-text flex flex1">
                        <p>工资支付</p>
                        <p class="y-selectCard-text-msg">推荐工资有余额的情况下使用</p>
                    </div>
                </div>
            </div>
        </div>
        <!--支付方式-->
        <div class="submit-button y-payment-button">
            <a id="pay-button" class="extract-btn"><span></span>确认支付</a>
        </div>
    </div>
    <!--content-->

    <!--余额支付密码弹窗-->
    <div class="payment-window">
        <div class="payment-inner-win">
            <div class="payment-form">
                <div class="y-color-999">
                    <div class="payment-left pay-close">x</div>
                    <div class="payment-title">输入支付密码</div>
                    <div class="payment-title y-border-top">支付金额{$money}元</div>
                </div>
                <!--密码区-->
                <div class="pay-input-group row-box">
                    <div class="row-flex pass-input-wrap">
                        <div class="pass-input-dot" ><i class="fa fa-circle"></i></div>
                        <input type="password" readonly="readonly" name="xx" value="">
                    </div>
                    <div class="row-flex pass-input-wrap">
                        <div class="pass-input-dot" ><i class="fa fa-circle"></i></div>
                        <input type="password" readonly="readonly" name="xx" value="">
                    </div>
                    <div class="row-flex pass-input-wrap">
                        <div class="pass-input-dot" ><i class="fa fa-circle"></i></div>
                        <input type="password" readonly="readonly" name="xx"value="">
                    </div>
                    <div class="row-flex pass-input-wrap">
                        <div class="pass-input-dot" ><i class="fa fa-circle"></i></div>
                        <input type="password" readonly="readonly" name="xx" value="">
                    </div>
                    <div class="row-flex pass-input-wrap">
                        <div class="pass-input-dot"><i class="fa fa-circle"></i></div>
                        <input type="password" readonly="readonly" name="xx" value="">
                    </div>
                    <div class="row-flex pass-input-wrap">
                        <div class="pass-input-dot"><i class="fa fa-circle"></i></div>
                        <input type="password" readonly="readonly" name="xx" value="">
                    </div>
                </div>
                <!--密码区-->
                <div class="y-text-right y-width94 y-mar-top20">
                    <a class="y-color-red" href="{:U('member/mine')}">忘记密码？</a>
                </div>
                <!--按钮去-->
                <div class="pay-btn-group">
                    <button class="pay-button figure" value="1" type="button" >1</button>
                    <button class="pay-button figure" value="2" type="button" >2</button>
                    <button class="pay-button figure" value="3" type="button" >3</button>
                    <button class="pay-button figure" value="4" type="button" >4</button>
                    <button class="pay-button figure" value="5" type="button" >5</button>
                    <button class="pay-button figure" value="6" type="button" >6</button>
                    <button class="pay-button figure" value="7" type="button" >7</button>
                    <button class="pay-button figure" value="8" type="button" >8</button>
                    <button class="pay-button figure" value="9" type="button" >9</button>
                    <button class="pay-button cancel" type="button"><i class="fa fa-arrow-left"></i></button>
                    <button class="pay-button figure" value="0" type="button">0</button>
                    <button class="pay-button empty" type="button"><i class="fa fa-times"></i></button>
                    <div class="clear-float"></div>
                </div>
                <!--按钮去-->
            </div>
        </div>
    </div>
    <!--余额支付密码弹窗-->
    <input type="hidden" value="5" id="origin_type" />
    <input type="hidden" value="{:U('upgrade/upgrade_ye')}" id="sealing_ye" />
    <input type="hidden" value="{$oid}" id="oid" />

    </body>
</block>
<block name="footer"></block>
<block name="script">
    <script>
        //点击购买
        $('#pay-button').click(function(){
            //支付类型0.未选择 1=微信，2=支付宝 3余额',
            var zftype=$('#check_pay').find(".y-payment-select-sed").data("zftype");
            if(!zftype){
                layer.msg('请选择支付方式',{icon:0,time:1000});
                return;
            }

            //支付方式zf_type 1微信支付 3余额支付在custom.js
            if(zftype==1){
                $.ajax({
                    type:"post",
                    url:"{:U('upgrade/upgrade_api_pay')}",
                    async:true,
                    data:{dingdan:"{$dingdan}",zftype:zftype},
                    dataType:'json',
                    success:function(res) {
                        if(res.status ==0){
                            layer.msg(res.msg,{icon:1,time:1000});
                        }else{
                            chooseWXPay(res.err_msg);
                        }
                    }
                });
            }else{
                $(".payment-window").addClass("active");
                $(".payment-form").addClass("active");
            }
        })

        function chooseWXPay(sting){
            var config = JSON.parse(sting)
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest', {
                    "appId":config.appId,     //公众号名称，由商户传入
                    "timeStamp":config.timeStamp,         //时间戳，自1970年以来的秒数
                    "nonceStr":config.nonceStr, //随机串
                    "package":config.package,
                    "signType":"MD5",         //微信签名方式：
                    "paySign":config.paySign //微信签名
                },
                function(res){
                    if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                        // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。
                        layer.msg('充值成功',{icon:1,time:1000},function(){
                            location.href = "/index.php?s=/wallet/wallet.html";
                        });
                    }
                }
            );
        }

        //选择支付方式
        $(".y-payment-select").click(function(){
            $(this).addClass("y-payment-select-sed").siblings().removeClass("y-payment-select-sed")
        })

        //关闭密码区
        $(".pay-close").click(function(){
            $(".payment-window").removeClass("active");
            $(".payment-form").removeClass("active");
        })
    </script>
</block>
</html>