/**-----重置-----**/
html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, 
b, u, i, center, 
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, 
time, mark, audio, video { 
margin: 0; 
padding: 0; 
border: 0;
} 
/* HTML5 display-role reset for older browsers */ 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section img{ 
display: block; 
} 
body { 
background-color:#ffffff ;
width: 100%;
color: #333333;
font-size: 0.24rem;
}
ol, ul { 
list-style: none; 
} 
blockquote, q { 
quotes: none; 
} 
blockquote:before, blockquote:after, 
q:before, q:after { 
content: ''; 
content: none; 
} 
table { 
border-collapse: collapse; 
border-spacing: 0; 
} 
a{
	text-decoration: none;
	color: #333333;
}
a,button,input,optgroup,select,textarea {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
img{
	max-width:100%;
	height: auto;
	display:block;
}
::-webkit-scrollbar{
	width:0px;
}
::scrollbar{
	width:0px;
}
/*清除苹果默认样式*/
input[type="button"], input[type="submit"], input[type="reset"] {
-webkit-appearance: none;
}
textarea {  -webkit-appearance: none;}   
.button{ border-radius: 0; } 
/*垂直盒子*/
.vertical-box{
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: box;
	-webkit-box-orient: vertical;
	box-orient: vertical;
}
/*垂直拉伸*/
.vertical-flex{
	-webkit-box-flex: 1;
	box-flex: 1;
}
/*横向盒子*/
.row-box{
	display: -webkit-box;
	display: box;
	-webkit-box-orient: horizontal;
	box-orient: horizontal;
}
/*横向拉伸*/
.row-flex{
	-webkit-box-flex: 1;
	box-flex: 1;
}
/*竖向居中*/
.vertical-center{
	display: -webkit-flex;
	display: flex;
}
.vertical-auto{
	margin: auto;
}
.inner-auto{
	width: 96%;
	margin: 0 auto;
}
/*清除浮动*/
.clear-float{
	clear: both;
}