<extend name="Base/common"/>
<block name="header"></block>
<block name="body">

    <body>
    <!--header-->
    <div class="header-wrap">
        <div class="header-inner">
            <div class="header-title">{$list['title']}</div>
            <div class="header-left return-prev"><i class="fa fa-angle-left"></i></div>
            <div class="header-right"></div>
        </div>
    </div>
    <div class="header-space"></div>
    <!--header-->

    <!--content-->
    <div class="content">
        <div class="y-width94 y-color-999 y-help font-28">{:code2html($list['info'])}</div>
    </div>
    <!--content-->

    <!--footer-->
    <!--footer-->
    </body>
</block>
</html>
