<extend name="Base/common"/>
<block name="header"></block>
<block name="body">

<body class="body-bgColor">
<!--header-->
<div class="header-wrap">
    <div class="header-inner">
        <div class="header-title">用户注册协议</div>
        <div class="header-left return-prev"><i class="fa fa-angle-left"></i></div>
        <div class="header-right"></div>
    </div>
</div>
<div class="header-space"></div>
<!--header-->

<!--content-->
<div class="content">
    <!--册协议上传图片-->
    <div class="help-img"><img src="images/banner1.jpg"></div>
    <!--注册协议上传图片-->
</div>
<!--content-->

<!--footer-->
<!--footer-->
</body>
</block>
<block name="footer"></block>
<block name="script">
</block>
</html>
