<table width="100%" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td class="shoptit">编号</td>
				<td>时间</td>
				<td class="shoptit">收入/支出</td>
				<td >支付方式</td>
				<td >备注</td>
			</tr>
		<volist name="balance" id="val" >
			<tr>
				<td class="shopcon">{$val['dingdan']}</td>
				<td class="shopcon">{:date('Y-m-d H:i',$val['add_time'])}</td>
				<td class="shopcon"><if condition="$val['status'] eq 2">+<else/>-</if>{$val['totalprices']}</td>
				<td class="shopcon">{$zftype[$val['zftype']]}</td>
				<td class="shopcon">{$member_recharge_status[$val['status']]}</td>
			</tr>
		</volist>	
		</table>
		<style>
			.d-content tr{ text-align: center; border-bottom: 1px solid #ddd;}
			.d-content td{ height: 30px; line-height: 30px; border-left: 1px solid #ddd;}
			
		</style>