<block name="header">

		<!--header-->

		<div class="header-wrap">

			<div class="header-inner">

				<div class="header-title">

					<div class="orientation row-box">

						<div class="row-flex">

							<div class="orientation-icon"><img src="__MB__images/location1.png"></div>

						</div>

						<div class="orientation-name">{$location.city}{$location.addr} </div>
						<div class="row-flex">

							<div class="orientation-right"><!--<i class="fa fa-angle-right"></i>--></div>

						</div>

					</div>

				</div>

				<div class="header-left return-prev"><i class="fa fa-angle-left"></i></div>

				<!--<div class="header-right">

					<a class="add-store" href="{:U('Merchant/add_shop')}">+</a>

				</div>-->

			</div>	

		</div>

		<div class="header-space"></div>

		<!--header-->

		

		<!--筛选-->

		<div class="filtrate-wrap">

			<div class="filtrate-inner row-box">

				<div class="row-flex">

					<div class="filtrate-name <eq name="cate" value="0">active</eq>">

					<a href="###" onclick="test(0,'','');">

					

					推荐</a>

					</div>

					<volist name="cates" id="c" key="k">

						<elt name="k" value="3">
						<div class="filtrate-name <if condition="$cate eq $c['id']"> active</if>">
	
						<a href="###" onclick="test({$c.id},'','');">{$c.name}</a>
						</div>
						</elt>

					 </volist>

					<div class="clear-float"></div>

				</div>

				

				<div class="filtrate-right">

					<a href="{:U('Index/ambitus?search=1')}"><div class="filtrate-select">筛选</div></a>
					<div class="filtrate-link"></div>
					<div class="filtrate-more">更多<i class="fa fa-angle-down"></i></div>
					<div class="clear-float"></div>

				</div>

			</div>

		</div>

		<div class="header-space"></div>
		<!--筛选-->

		</block>

		

		<block name="body">

		<!--content-->

		<div class="content">

			<ul class="filtrate-list-ul" id="lists">
				
			</ul>

			<!--

<empty name="lists">

  <p style="margin:0 auto;padding:50px 0;color:#ccc;text-align: center;">  暂无数据</p>

    </empty>-->

		</div>

		<!--content-->

		

		<!--更多分类-->

		<div class="more-kind">

			<div class="more-kind-inner">

			<ul class="more-kind-ul">

				<volist name="cates" id="c" key="k">

					<gt name="k" value="3">

					<li class="more-kind-li <if condition="$cate eq $c['id']"> active</if>">

				<!--	<a href="{:U('Index/ambitus?cate='.$c['id'])}">

					{$c.name}</a>-->

					<a href="###" onclick="test({$c.id},'','');">{$c.name}</a>

					</li>

					</gt>

				</volist>

				<div class="clear-float"></div>

			</ul>

			</div>

		</div>
		<!--更多分类-->

		<!--筛选页面-->
    <div>
        <!--header-->
        <div class="header-wrap">
            <div class="header-inner">
                <div class="header-title">筛选</div>
                <div class="header-left return-prev"><i class="fa fa-angle-left"></i></div>
                <div class="header-right"></div>
            </div>  
        </div>
        <div class="header-space"></div>
        <!--header-->
        
        <!--content-->
        <div class="content">
            <div class="screen-content">
                <div class="serach-box vertical-center y-width94">
                    <div class="vertical-auto" style="width: 100%;"><input id="search" type="text"></div>
                    <div class="serach-tis"><i class="fa fa-search"></i>搜索商品</div>
                </div>
                
                <!--选择地区-->
                <div class="area-form">
                    <div class="area-form-title">选择区域</div>
                    <div class="area-form-input vertical-center">
                        <div class="vertical-auto" style="width: 100%;"><input id="area" type="text" readonly="readonly" placeholder="请选择区域"></div>
                    </div>
                </div>
                <!--选择地区-->
                
                <!--商品筛选-->
                <div class="area-form">
                    <div class="area-form-title">支付类型</div>
                    <div class="">
                        <ul class="more-kind-ul y-screen-kind-ul">
                            <li class="more-kind-li active">全部</li>
                            <li class="more-kind-li">金元宝支付</li>
                            <li class="more-kind-li">银元宝支付</li>
                            <li class="more-kind-li">金果支付</li>
                            
                            <div class="clear-float"></div>
                        </ul>
                    </div>
                    
                    <div class="submit-button"><a class="sub-pass" href="y_ambitus.html">确定</a></div>
                </div>
                <!--商品筛选-->
            </div>
        </div>
    </div>

	</block>
    <include file="Public/footer" />
    
    
<style>.layui-flow-more {

	margin: 10px 0;

	text-align: center !important;

	color: #999;

	font-size: 14px;padding:25px

}</style>
<block name="script">

<script>
$(document).ready(function(){test({$cate},'{$address}','{$title}')});  
//产品列表
function test(cate,address,title) {
    $('.filtrate-list-ul').empty();
    layui.use('flow', function(){
		 var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。  
		  var flow = layui.flow;
        flow.load({
            elem: '.filtrate-list-ul',
            scrollElem: '',
            done: function(page, next){ //执行下一页的回
                //数据插入
				  $.get('mobile.php?m=Mobile&c=Index&a=ajax_ambitus_content&title='+title+'&address='+address+'&cate='+cate+'&p='+page, function(res){  
                            if(res){ 

                            var lis = [];  

                            //假设你的列表返回在data集合中  

                            layui.each(res[0], function(index, value){  

                                lis.push('<li class="filtrate-list-li"><a href="mobile.php?m=Mobile&c=Index&a=shop_details&id='+value.id+'">'
                               +'<div class="filtrate-box row-box"><div class="filtrate-list-left"><div class="filtrate-list-img vertical-center">' 
                               +'<div class="vertical-auto"><img src="'+value.img+'"></div></div></div><div class="row-flex">' 
                               +'<div class="store-name">'+value.title+'</div><div class="store-date">营业时间：'+value.shop_hours+'</div>' 
                               	+'<div class="store-txt"><span class="zhi">支</span>支持 '+value.zftype+'支付</div>'
                               	+'<div class="store-txt"><span class="bei">倍</span>赠送'+value.set_coin+'倍银币</div>'
//                              +'<div class="store-txt">'+value.desc+'</div></div><div class="filtrate-list-right">'+value.distance+'km</div></div></a>'
//                              +'</li>'
                                );

                            });  

                            //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页  

                            //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多  

                            next(lis.join(''),page<res[1]);  

                        }  
                    });  
            }
        });
    });
}
//选项卡

	function tabs(e,l){

		$(e).click(function(){

			var index = $(this).index();

			$(this).addClass("active").siblings().removeClass("active");
			$(l).eq(index).addClass("active").siblings().removeClass("active");

		});

	}

	tabs($(".filtrate-name"));
	tabs($(".more-kind-li"));

	tabs($(".classify-nav-li"));
	tabs($(".figure-li"));
	tabs($(".buy-li"));
	tabs($(".specification-span"));
	tabs($(".character-nav-name"),$(".character-content-tier"));
	tabs($(".discount-nav-name"),$(".discount-tier"));
	//更多分类

	function moreFun(){

		var sum = 0;

		$(".filtrate-more").click(function(){

			sum++;

			if(sum % 2 != 0){

				$(".more-kind").show();

				$(this).find("i").addClass("fa-angle-up").removeClass("fa-angle-down");

			}else{

				$(".more-kind").hide();

				$(this).find("i").removeClass("fa-angle-up").addClass("fa-angle-down");

			}

			$(".filtrate-name").removeClass("active");

		});

		

		$(".more-kind-li").click(function(){

			sum = 0;

			$(".more-kind").hide();

			$(".filtrate-more i").removeClass("fa-angle-up").addClass("fa-angle-down");

		});

	}moreFun();
</script>





</block>
