<extend name="Base/common"/> 

<block name="header">

		<!--header-->

		<div class="header-wrap">

			<div class="header-inner">

				<div class="classify-top row-box">

					<div class="">

						<div class="classify-ret-icon return-prev"><i class="fa fa-angle-left"></i></div>

					</div>

					<div class="row-flex">

						<a class="search-link" href="{:U('Index/commodity?search=1')}">搜索商品</a>

					</div>

				</div>

			</div>	

		</div>

		<div class="header-space"></div>

		<!--header-->

		

		<div class="filtrate-wrap">

			<div class="filtrate-inner">

				<ul class="commodity-ul">

					<li data-id="{$item_cate}" class="commodity-li <if condition="$order eq 'price'"> active</if>">价格排序<i class="fa fa-angle-down"></i></li>
					<li data-id="{$item_cate}" class="commodity-li <if condition="$order eq 'sales'"> active</if>">销量优先<i class="fa fa-angle-down"></i></li>
					<li data-id="{$item_cate}" class="commodity-li <if condition="$order eq 'id'"> active</if>">新品上架</li>

					

					<div class="clear-float"></div>

				</ul>

			</div>

		</div>

		<div class="header-space"></div>

		</block>

		

		<block name="body">

		<!--content-->

		<div class="content">

			<div class="suspect-wrap">

				<ul class="suspect-ul" id="lists" style="padding-top: 0.1rem;">

	

					<div class="clear-float"></div>

				</ul>

			

			</div>

		</div>

		<!--content-->

		

	</block>

	

	

	<block name="script">

<style>.layui-flow-more {

	margin: 10px 0;

	text-align: center;

	color: #999;

	font-size: 14px;padding:25px

}</style>

<script src="__MB__js/layui/layui.js" charset="utf-8"></script>



<script>

$(document).ready(function(){test({$item_cate},'{$order}','{$asc}','{$title}')});  

function test(cate,order,asc,title){

$("#lists").html("");

  //$(document).ready(function(){  

        var limit = 10;  

        layui.use('flow', function(){

            var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。  

            var flow = layui.flow;  

            flow.load({ 

                elem: '#lists' //指定列表容器  

                ,done: function(page, next){ //到达临界点（默认滚动触发），触发下一页  

                  //页数  

                    //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）  

                    $.get('mobile.php?m=Mobile&c=Index&a=commodity&order='+order+'&asc='+asc+'&title='+title+'&item_cate='+cate+'&p='+page, function(res){  

                        if(res){ 

                            var lis = [];  

                            //假设你的列表返回在data集合中  

                            layui.each(res, function(index, value){  

                                lis.push('<li class="suspect-li" data-id="'+value.id+'"><a href="mobile.php?m=Mobile&c=Index&a=detail&id='+value.id+'"><div class="suspect-img vertical-center"><div class="vertical-auto"><img src="'+value.img+'"></div></div><div class="suspect-img-name">'+value.title+':'+value.intro+'</div><div class="suspect-money"><span>￥'+value.price+'</span>'+value.sales+'人已付款</div></a></li>');  

                            });  

                            //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页  

                            //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多  

                            next(lis.join(''), limit == res.length);  
							//item_hits();
                        }  

                    });  

                }  

            });  

        });  

  

}
////点击率更新
//function item_hits(){
//	$('.suspect-li').off().click(function(){
//		alert($(this).data('id'))
//	})
//}
  </script>

</block>