<extend name="Base/common"/> 



<block name="header">



	<!--header-->

		<div class="header-wrap">

			<div class="header-inner">

				<div class="home-header padd row-box">

					<div class="home-left">

						<a href="">

							<div class="logo-img"><img src="__MB__images/logo.png"></div>

						</a>

					</div>

					<div class="row-flex">

						<a class="search-link" href="search.html">搜索商品</a>

					</div>

					<div class="home-right">

						<a href="new_list.html">

							<div class="message-img"><img src="__MB__images/icon05.png"></div>

						</a>

						<div class="message-tis"></div>

					</div>

				</div>

			</div>

		</div>

		<div class="header-space"></div>

		<!--header-->

		

		</block>

		

		<block name="body">

		<!--content-->

		<div class="content">

			

			<div class="carbolon">

				<ul class="carbolon-ul">

					<li class="carbolon-li" id="scanQRCode" >

						<a href="javascript:;">

							<div class="carbolon-icon"><img src="__MB__images/icon01.png"></div>

							<div class="carbolon-name">扫一扫</div>

						</a>

					</li>

					

					<li class="carbolon-li"><a href="{:U('member/wallet')}">

						<div class="carbolon-icon"><img src="__MB__images/icon02.png"></div>

						<div class="carbolon-name">钱包</div>

					</a></li>

					

					<li class="carbolon-li"><a href="{:U('member/credit')}">

						<div class="carbolon-icon"><img src="__MB__images/icon03.png"></div>

						<div class="carbolon-name">银币信用</div>

					</a></li>

					

					<li class="carbolon-li"><a href="{:U('Recharge/upgrade')}">

						<div class="carbolon-icon"><img src="__MB__images/icon04.png"></div>

						<div class="carbolon-name">会员升级</div>

					</a></li>

				</ul>

				<div class="clear-float"></div>

			</div>

			

			<!--滚动信息-->

			<div class="scroll-message">

				<div class="row-box inner-auto">

					<div class="scroll-message-left">

						<div class="scroll-message-title">今日订单</div>

						<div class="scroll-message-title space">消费赠送</div>

					</div>

					<div class="row-flex">

						<div class="scroll-message-data">

							<ul class="scroll-message-ul">

								<li class="scroll-message-li"><a href="new_details.html">用户99444****112 刚刚购买元宝成功刚刚购买元宝成功</a></li>

								<li class="scroll-message-li"><a href="new_details.html">用户99444****112 刚刚购买元宝成功刚刚购买元宝成功</a></li>

								<li class="scroll-message-li"><a href="new_details.html">用户99444****112 刚刚购买元宝成功刚刚购买元宝成功</a></li>

							</ul>

						</div>

					</div>

				</div>

			</div>

			<!--滚动信息-->

		

			<!--服务导航-->

			<div class="carbolon active">

				<ul class="carbolon-ul">

					<li class="carbolon-li active"><a href="">

						<div class="carbolon-icon"><img src="__MB__images/icon06.png"></div>

						<div class="carbolon-name">生活超市</div>

					</a></li>

					

					<li class="carbolon-li active"><a href="">

						<div class="carbolon-icon"><img src="__MB__images/icon07.png"></div>

						<div class="carbolon-name">全球购</div>

					</a></li>

					

					<li class="carbolon-li active"><a href="">

						<div class="carbolon-icon"><img src="__MB__images/icon08.png"></div>

						<div class="carbolon-name">服装城</div>

					</a></li>

					

					<li class="carbolon-li active"><a href="">

						<div class="carbolon-icon"><img src="__MB__images/icon09.png"></div>

						<div class="carbolon-name">臻生鲜</div>

					</a></li>

					

					<li class="carbolon-li active"><a href="">

						<div class="carbolon-icon"><img src="__MB__images/icon10.png"></div>

						<div class="carbolon-name">臻惠玩</div>

					</a></li>

					

					<li class="carbolon-li active"><a href="">

						<div class="carbolon-icon"><img src="__MB__images/icon11.png"></div>

						<div class="carbolon-name">金果商城</div>

					</a></li>

					

					<li class="carbolon-li active"><a href="">

						<div class="carbolon-icon"><img src="__MB__images/icon12.png"></div>

						<div class="carbolon-name">银元宝</div>

					</a></li>

					

					<li class="carbolon-li active"><a href="">

						<div class="carbolon-icon"><img src="__MB__images/icon13.png"></div>

						<div class="carbolon-name">生活服务</div>

					</a></li>

				</ul>

				<div class="clear-float"></div>

			</div>

			<!--服务导航-->

			

			<!--轮播banner-->

			<div class="swiper-container" style="margin-top: 0.2rem;">

				<div class="swiper-wrapper">

					<volist name="lux" id="lu">

						<div class="swiper-slide"><a href="#">

							<div class="banner-image vertical-center">

								<!--<div class="all-auto"><img src="__MB__images/banner1.jpg"></div>-->

								<div class="all-auto"><img src="{:attach($lu['content'],'advert')}"></div>

							</div>

						</a></div>

					</volist>

				</div>

				<div class="swiper-pagination"></div>

			</div>

			<!--banner-->

			

			<!--猜你喜欢-->

			<div class="suspect-wrap">

				<div class="suspect-title"><span>—</span>猜你喜欢<span>—</span></div>

				<ul class="suspect-ul">
					<volist name="favour" id="val">
					<li class="suspect-li"><a href="details.html">

						<div class="suspect-img vertical-center">

							<div class="vertical-auto"><img src="{:get_thumb(attach($val['img'],'item'),'_b')}"></div>

						</div>

						<div class="suspect-img-name">
                        {$val.title}

						<div class="suspect-money">

							<span>￥{$val.price}</span>{:payer($val['id'])}人已付款

						</div>

					</a>
                    </li>
					</volist>
					<div class="clear-float"></div>

				</ul>

			</div>

			<!--猜你喜欢-->

			

		</div>

		<!--content-->

		</block>

		<block name="script">

			<link rel="stylesheet" href="__MB__css/swiper.css" />

			<script src="__MB__js/swiper.min.js"></script>

			<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

			<script>

				//banner

				var swiper = new Swiper('.swiper-container',

				{

					pagination: '.swiper-pagination',

					paginationClickable: true,

					autoplay:3000,

					autoplayDisableOnInteraction:false,

					loop:true

				});



                wx.config({

                    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。

                    appId: "{$js['appId']}", // 必填，公众号的唯一标识

                    timestamp: "{$js['timestamp']}", // 必填，生成签名的时间戳

                    nonceStr: "{$js['nonceStr']}", // 必填，生成签名的随机串

                    signature: "{$js['signature']}",// 必填，签名，见附录1

                    jsApiList: [ 'scanQRCode'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2

                });



                wx.ready(function(){

                    $("#scanQRCode").on("click",function(){

                        wx.scanQRCode({

                            needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，

                            scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有

                            success: function (res) {

                                var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果

                            }

                        });

                    })

                });

			</script>

		</block>